*~
*.swp
*.pyc
local_config.py
cookie_secret
.coverage
cover/
htmlcov/
.idea/
.tox/
.python-version
locale/dokomoforms.po
node_modules/
Vagrantfile
.vagrant
provision.sh
.DS_Store
_build
_static
_templates
