*~
*.swp
*.pyc
local_config.py
cookie_secret
.coverage
coverage
cover/
htmlcov/
.idea/
.tox/
.python-version
locale/dokomoforms.po
node_modules/
Vagrantfile
.vagrant
provision.sh
.DS_Store
doko/
reports/
.capistrano/
_build
_static
_templates
*.sublime-project
*.sublime-workspace
*.log
bower
dokomoforms/static/dist