*~
*.swp
*.sqlite
*.pyc
*.log
local_settings.py
.idea/
.coverage
cover/
.python-version
node_modules/
test/*.log
data/
reports/
config/deploy/*.rb
.DS_Store
Vagrantfile
provision.sh
.vagrant
doko/
.capistrano/
