{% from dokomoforms.options import options %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, user-scalable=no,  initial-scale=1, maximum-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

<!--
    <link href="/static/bootstrap-3.3.4/dist/css/bootstrap.css" rel="stylesheet">
    <link href='/static/css/dataTables.bootstrap.css' rel='stylesheet' type='text/css'>
 -->

    <link href="/static/dist/css/admin/all-styles.css" rel="stylesheet" type="text/css">

    <link rel="icon" href="/static/dist/img/favicon.png">

    <title>{{ options.organization }} Surveys -- Powered by DokomoData</title>
    <!--<script src="/static/ratchet-2.0.2/dist/js/ratchet.js"></script> -->
    <!-- RIP <link href="/static/css/style.css" rel="stylesheet" type="text/css">-->
</head>

<body role="document">
    <nav class="navbar navbar-default navbar-fixed-top light-shadow">
        <div class="navbar-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Dokomo<strong>Data</strong></a>
            </div>
            <div class="navbar-main-menu">
                <ul class="nav navbar-nav">
                    {% if current_user %}
                        <li><a href="/">Account Overview</a></li>
                        <li>
                            <a href="#" class="dropdown-toggle" type="button" id="SurveysDropdown" data-toggle="dropdown" aria-expanded="true">Surveys <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="SurveysDropdown">
                                {% for the_survey in surveys_for_menu %}
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/view/{{ the_survey.id }}">{{ the_survey.title }}</a></li>
                                {% end %}
                            </ul>
                        </li>
                    {% end %}
                </ul>
            </div>
            <div id="navbar" class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    {% if current_user %}
                    <li>
                        <a href="#" class="dropdown-toggle" type="button" id="UserDropdown" data-toggle="dropdown" aria-expanded="true">{{ current_user }} <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="UserDropdown">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                            <li role="presentation"><a class="btn-logout" role="menuitem" tabindex="-1"href="#"><span class="glyphicon glyphicon-log-out" id="logout"></span> Log Out</a></li>
                        </ul>
                    </li>


                    {% else %}
                    <li><a class="btn btn-block btn-login" href="#" id="login">Login or Register</a></li>
                    {% end %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    {% block header %} {% end %}
    {% block subheader %} {% end %}
    {% block content %} {% end %}
    {% block footer %} {% end %}

    {% block modal %}
    <div class="modal fade bs-example-modal-lg modal-submission" tabindex="-1" role="dialog" aria-labelledby="Submission Detail" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
    {% end %}

    <!-- Vendor libs (jquery, lodash, etc) -->
    <script src="/static/dist/js/libs.js"></script>

    <!-- Leaflet for maps -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <!-- Highcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <!-- Moment.js for datetime handling -->
    <script type="text/javascript" src="http://momentjs.com/downloads/moment.min.js"></script>
    <!-- DataTables for... data... tables... -->
    <script src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
    <script src="http://cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.js"></script>


    <script type="text/javascript">
        function openSubmissionDetailModal(submission_id) {
            var url = '/view/submission/' + submission_id;
            $('.modal-submission .modal-content').load(url);
            $('.modal-submission').modal();
        }

        $(function() {

            // enable tooltips
            $('[data-toggle="tooltip"]').tooltip({
                container: 'body'
            });

            // submission modal click handler
            $(document).on('click', '.btn-view-submission', function() {
                var submission_id = $(this).data('id');
                openSubmissionDetailModal(submission_id);
            });
        });
    </script>

    <!-- Persona for login stuff -->
    <script src="https://login.persona.org/include.js"></script>
    <script src="/static/src/js/util/persona.js"></script>

    <!-- Extra page-specfic scripts should go in this block. -->
    {% block extra_scripts %} {% end %}


</body>

</html>
