{% from dokomoforms.options import options %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, user-scalable=no,  initial-scale=1, maximum-scale=1">
    
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100,900' rel='stylesheet' type='text/css'>
    <!--link href="/static/bootstrap-3.3.4/dist/css/bootstrap.css" rel="stylesheet"-->
    <!--link href='/static/css/dataTables.bootstrap.css' rel='stylesheet' type='text/css'-->
    <!--link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" /-->
    <!--link href="/static/css/admin.css" rel="stylesheet" type="text/css"-->
    <!--link rel="icon" href="/static/img/favicon.png"-->
    
    <title>{{ options.organization }} surveys -- Powered by Dokomo Forms</title>
</head>

<body role="document">
    <nav class="nabar">
        <div class="container">
            <div class="navbar-header">
            </div>
        </div>
    </nav>

    {% block header %}{% end %}
    {% block subheader %}{% end %}
    {% block content %}{% end %}
    {% block footer %}{% end %}

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Mozilla Persona: user authentication -->
    <script src="https://login.persona.org/include.js"></script>
    <script src="/static/persona.js"></script>

    <!-- Extra page-specific scripts -->
    {% block extra_scripts %}{% end %}
    
</body>

</html>
