<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, user-scalable=no,  initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100' rel='stylesheet' type='text/css'>

    <title>Dokomoforms</title>

    <link href="/static/ratchet-2.0.2/dist/css/ratchet.min.css" rel="stylesheet">
    <!--<script src="/static/ratchet-2.0.2/dist/js/ratchet.js"></script> -->
    <!-- RIP <link href="/static/css/style.css" rel="stylesheet" type="text/css">-->
    <link href="/static/css/survey.css" rel="stylesheet" type="text/css">

    <link rel="icon" href="/static/img/favicon.png">
</head>

<body>
    <header class="bar bar-nav bar-padded">
        <a class="icon icon-info pull-right"></a>
        <h1 class="title"><a data-ignore="push" href="/">Dokomoforms</a></h1>
    </header>

    <div class="message"></div>

    <div class="content">
        {% block content %}{% end %}
    </div>

    {% block footer %} {% end %}
</body>

</html>
