{% extends "base.html" %} 


{% block header %}
<div class="header header-account-overview">
    {% if current_user %}
    <div class="container">
        <div class="row">
            <div class="col-md-6"><h1>Account Overview</h1></div>
        </div>
    </div>
    {% else %}
    <div class="hero">
    </div>
    {% end %}
</div>
{% end %} 

{% block content %}
<div class="content">
    <div class="container" role="main">
        <div class="message"></div>
        {% if current_user %}
        <div class="row">
            <div class="col-md-6">
                <!-- Recent Submissions -->
                
                <h4>Recent Submissions</h4>
                <div class="recent-submissions" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#recent-list" aria-controls="recent-list" role="tab" data-toggle="tab">List</a></li>
                        <li role="presentation"><a href="#recent-map" aria-controls="recent-map" role="tab" data-toggle="tab">Map</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active recent-block" id="recent-list">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Submitted On</th>
                                        <th>Submitted By</th>
                                        <th>Survey</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for submission in recent_submissions['result'] %}
                                        <tr class="submission-row" data-id="{{ submission['result']['submission_id'] }}">
                                            <td>{{ iso_date_str_to_fmt_str(submission['result']['submission_time'], "%b %d, %Y at %H:%M") }}</td>
                                            <td>{{ submission['result']['submitter'] }}</td>
                                            <td>{{ submission['result']['survey_id'] }}</td>
                                        </tr>
                                    {% end %}
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane recent-block recent-map" id="recent-map">
                            <div id="recent-map-container"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Activity Graph -->
                <h4>Activity Graph</h4>
                <div class="activity-graph">
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Surveys</h4>
                <table id="surveys" class="table-view display table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th># of Submissions</th>
                            <th>Latest Submission</th>
                            <th>Activity</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        {% else %}
        <div class="welcome_box content-padded">
            <h3 data-ignore="push" class="welcome_title"> Welcome to Dokomoforms</h3>
            <p data-ignore="push" class="welcome_blurb"> Simple, offline-capable surveys.</p>
            <p data-ignore="push" class="welcome_blurb"> Sign up or login to create and view forms.</p>
        </div>
        {% end %}
    </div>
</div>

{% end %}


{% block extra_scripts %}


    {% if current_user %}

    <!-- Templates -->
    <script type="text/template" id="view-data-btn-tpl">
        <a class="btn btn-default btn-xs" href="/view/data/<%= survey_id %>"><span class="glyphicon glyphicon-stats"></span> View Data</a>
    </script>

    <script type="text/template" id="download-data-btn-tpl">
        <div class="btn-group">
            <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="glyphicon glyphicon-cloud-download"></span> Download Data <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a target="_blank" href="/api/surveys/<%= survey_id %>/submissions">JSON</a></li>
                <li><a href="#">CSV (coming soon)</a></li>
                <li><a href="#">KML (maybe someday)</a></li>
            </ul>
        </div>
    </script>

    <script type="text/template" id="manage-btn-tpl">
        <a class="btn btn-secondary btn-xs" href="/view/<%= survey_id %>" data-id="<%= survey_id %>">Manage Survey</a>
    </script>



    <script type="text/javascript">
        
        $(function () { 
            
            // Activity Graph
            $.getJSON('/api/submissions/activity', function(data) {

                var results = data.result,
                    cats = [], 
                    data = [];

                if (!results.length) {
                    return;
                }

                var sorted = _.sortBy(results, function(result) {
                    return result[1];
                });

                _.each(sorted, function(result) {
                    var date = moment(result[1], "YYYY-MM-DD").format('MMM D');
                    data.push(result[0]);
                    cats.push(date);
                });


                $('.activity-graph').highcharts({
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: null
                    },
                    colors: [
                        '#666'
                    ],
                    xAxis: {
                        categories: cats
                    },
                    yAxis: {
                        title: {
                            text: '# of submissions'
                        }
                    },
                    series: [{
                        name: 'Submissions',
                        data: data
                    }],
                    credits: {
                        enabled: false
                    }
                });
            });

        
            // Map
            var map, 
                limit = 5;
            $.getJSON('/api/submissions?limit='+limit, function(data) {
                var submissions = data.result;
                if (submissions.length) {
                    $(document).on("shown.bs.tab", 'a[href="#recent-map"]', function() {
                        if (!map) {
                            map = L.map('recent-map-container', {
                                dragging: true,
                                zoom: 14,
                                attributionControl: false
                            });

                            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {}).addTo(map);

                            var markers = [];
                            _.each(submissions, function(submission) {
                                var submission = submission.result,
                                    answers = submission.answers,
                                    location = _.find(answers, function(answer) {
                                        return answer.type_constraint_name == 'location'
                                    });
                                if (!location || !location.answer) {
                                    return;
                                }
                                location = location.answer;

                                // console.log('location:', location);
                                // stored lon/lat in revisit, switch around
                                var marker = new L.marker([location[1], location[0]], {
                                    riseOnHover: true
                                });
                                marker.options.icon = new L.icon({iconUrl: "/static/img/icons/normal_base.png", iconAnchor: [15, 48]});
                                // marker.bindPopup();
                                marker.on('click', function() {
                                    window.location = '/view/submission/'+submission.submission_id;
                                });
                                markers.push(marker);

                            });
                            
                            if (markers.length) {
                                var markers_group = new L.featureGroup(markers);
                                markers_group.addTo(map);
                                map.fitBounds(markers_group.getBounds(), {
                                    padding: [40, 40]
                                });
                            } else {
                                console.log('No submissions include location.');
                            }
                        }
                    });
                }
            });

            $(document).on('click', '.submission-row', function(e) {
                var sub_id = $(this).data('id');
                window.location = '/view/submission/' + sub_id;
            });




            // DataTables
            var $surveys = $('#surveys'),
                view_btn_tpl = _.template($("#view-data-btn-tpl").html()),
                manage_btn_tpl = _.template($("#manage-btn-tpl").html()),
                dl_btn_tpl = _.template($("#download-data-btn-tpl").html());

            if ($surveys.length > 0) {
                $('#surveys').dataTable({
                    language: {
                        search: "Search by survey title:"
                    },
                    "lengthMenu": [
                        [20, 50, 100],
                        [20, 50, 100]
                    ],
                    "pagingType": "full_numbers",
                    "order": [
                        [2, 'desc']
                    ],
                    "columnDefs": [
                        {
                            "data": 0,
                            "render": function(data, type, row) {
                                return data;
                            },
                            "targets": 0
                        },
                        {
                            "data": 1,
                            targets: 1,
                        },
                        {
                            "data": 2,
                            "render": function(data, type, row) {
                                if (data) {
                                    var datetime = moment(data);
                                    return datetime.format('MMM D, YYYY');
                                } else {
                                    return '';
                                }
                            },
                            "targets": 2
                        }
                        , {
                            "data": 3,
                            "render": function(data, type, row) {
                                return "...";
                            },
                            "targets": 3,
                            "sortable": false
                        }
                        , {
                            "data": 3,
                            "render": function(data, type, row) {
                                // console.log(data);
                                var view = view_btn_tpl({survey_id: data}),
                                    dl = dl_btn_tpl({survey_id: data}),
                                    manage = manage_btn_tpl({survey_id: data});

                                return view + "&nbsp;" + dl + "&nbsp;" + manage;
                            },
                            "targets": 4,
                            "width": '340px',
                            "class": "text-center",
                            "sortable": false
                        }
                    ],
                    "columns": [{
                         "name": "survey_title"
                    }, {
                         "name": "num_submissions"
                    }, {
                         "name": "latest_submission"
                    }, {
                         "name": "survey_id"
                    }],
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                         "url": "/api/index_survey_data_table",
                         "data": function(d) {
                             return {
                                 "args": JSON.stringify(d)
                             };
                         }
                    }
                });
            }
        });
    
    </script>

    {% end %}

    {% if message %}
    <script>
        App.message("{{ message }}");
    </script>
    {% end %}

{% end %}


