{% extends "base.html" %}


{% block header %}
<div class="header header-account-overview light-shadow">
    <div class="hero">
    </div>
</div>
{% end %}

{% block content %}
<div class="content">
    <div class="container" role="main">
        <div class="message"></div>
        <div class="welcome-box content-padded">
            <h3 class="welcome-title">Dokomo<strong>Data</strong></h3>
            <p class="welcome-blurb">The easiest way to collect and use data for development planning.</p>
	    {% if options.demo %}
            <div class="alert alert-info">
	      <p>Dokomo Forms is operating in demo mode!</p>
	      <p>In this mode you can access a demo account in order to explore the data gathering and analysis features of Dokomo Forms.</p>
	      <p>Data associated with this account will be deleted periodically.</p>
	    </div>
	    {% end %}
	    {% if options.demo %}
            <a class="btn btn-primary btn-large demo-login" href="/demo/login">Log In or Sign Up</a>
	    {% else %}
            <a class="btn btn-primary btn-large btn-login" href="#">Log In or Sign Up</a>
	    {% end %}
	       <div id="msg"></div>
        </div>
    </div>
</div>

{% end %}

{% block extra_scripts %}

    {% if message %}
    <script>
        App.message("{{ message }}");
    </script>
    {% end %}

{% end %}
