<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>{% raw survey.title[survey.default_language] %} - Dokomoforms</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-status-bar-style" content="black">

    <link href="/static/ratchet-2.0.2/dist/css/ratchet.min.css" rel="stylesheet">
    <link href="/static/css/survey.css" rel="stylesheet" type="text/css">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/static/img/favicon.png">
</head>
<body>

    <header class="bar bar-nav bar-padded"></header>

    <!-- Alert stuff (hidden button to start it all)-->
    <a href="#message" class='message_btn' style='display:none'></a> 
    <div id="message" class="modal">
        <div class='modal_header'></div>
        <div class='message message_main content-padded'></div>
        <div class='message_btn_content'>
            <div class='bar-padded'>
                <a href="#message" class='modal_btn btn btn-block btn-netural btn-text'>
                    <span class='btn-text pull-left'>Ok</span>
                    <span class='icon btn-text icon-check pull-right'></span>
                </a>
            </div>
        </div>
    </div>

    <a href="#submitting" class='submit_modal' style='display:none'></a> 
    <div id="submitting" class="modal">
        <div class="submitting_content content-padded">
            <h1 class="submitting_title" >Submitting Surveys</h1>
            <span class="icon icon-share submitting_sync"></span>
            <p>
                Please be patient. This process depends on your connection
                speed and the number of surveys to be submitted.
            </p>
        </div>
    </div>

    <div class="content"></div>
    <div class="overlay" style="display:none;"></div>
    <div class="bar bar-standard bar-footer"></div>
    
    <script id="template_nav" type="text/html">
        <button class="btn btn-link btn-nav pull-left page_nav__prev">
            <span class="icon icon-left-nav"></span>
            <span class="">Previous</span>
        </button>
        <a class="icon icon-bars pull-right menu"></a>
        <h1 class="title"><%- index + " / " + total %></h1>
        <div class="title_menu" style="display:none">
            <div class="title_menu_option menu_restart">Cancel survey</div>
            <div class="title_menu_option menu_save">Save current state and exit</div>
            <div class="title_menu_option menu_clear">Clear all saved surveys</div>
        </div>
    </script>
    </script>

    <script id="template_footer" type="text/html">
        <div class="bar-padded">
            <button class="btn btn-block btn-primary navigate-right page_nav__next">
                Next Question
            </button>
        </div>
        <div class="question__btn__other" style="display: none;">
            <input type="checkbox" id="dont-know" name='dont-know' value='selected'/>
            <label for="dont-know"><%- other_text || "I don't know the answer" %></label>
        </div>
    </script>
    
    <script id="template_nav__splash" type="text/html">
        <h1 class="title align-left"><%- org || 'Dokomoforms' %></h1>
        <a class="icon icon-bars pull-right menu"></a>
        <div class="title_menu" style="display:none">
            <div class="title_menu_option menu_restart">Cancel survey</div>
            <div class="title_menu_option menu_save">Save current state and exit</div>
            <div class="title_menu_option menu_clear">Clear all saved surveys</div>
        </div>
    </script>

    <script id="template_footer__splash" type="text/html">
        <div class="bar-padded">
            <button class="btn btn-block btn-positive navigate-right start_btn">
                Begin a New Survey 
            </button>
        </div>
    </script>
    
    <script id="template_footer__submit" type="text/html">
        <div class="bar-padded">
            <button class="btn btn-block btn-positive submit_btn">
                <span class="btn-text pull-left"> Save Survey</span>
                <span class="icon icon-check pull-right"></span>
            </button>
        </div>
    </script>


    <script id="widget_text" type="text/html">
        <div class="content-padded">
            <h3 class="question__title  "><%- question.title[question.default_language] %></h3>
            <p class="question__hint "><%- question.hint[question.default_language] || "" %></p>
        </div>

        <%  var no_response = true;
            _.each(question.answer, function(ans) {
            if (ans && ans.response !== null && !ans.is_type_exception) { 
                no_response = false; %>
                <div class="input_container">
                <input class="text_input" type="text" 
                    placeholder="Please provide another response."
                    value="<%- ans.response %>"
                >
                <span class="icon icon-close question__minus"></span>
                </div>
            <% } %>
        <% }); %>

        <% if (no_response) { %>
            <div class="input_container">
            <input class="text_input" type="text" 
                placeholder="Please provide any response."
                value="<%- question.default || '' %>"
            >
            <span class="icon icon-close question__minus"></span>
            </div>
        <% } %>
    </script>
    
    <script id="widget_integer" type="text/html">
        <div class="content-padded">
            <h3 class="question__title "><%- question.title[question.default_language] %></h3>
            <p class="question__hint "><%- question.hint[question.default_language] || "" %></p>
        </div>

        <%  var no_response = true;
            _.each(question.answer, function(ans) {
            if (ans && ans.response !== null && !ans.is_type_exception) { 
                no_response = false; %>
                <div class="input_container">
                <input class="text_input" type="number"
                    placeholder="Please provide another number."
                    value="<%- ans.response %>"
                >
                <span class="icon icon-close question__minus"></span>
                </div>
            <% } %>
        <% }); %>

        <% if (no_response) { %>
            <div class="input_container">
                <input class="text_input" type="number"
                    placeholder="Please provide a number."
                    value="<%- question.default || '' %>"
                >
            <span class="icon icon-close question__minus"></span>
            </div>
        <% } %>
    </script>
    
    <script id="widget_decimal" type="text/html">
        <div class="content-padded">
            <h3 class="question__title "><%- question.title[question.default_language] %></h3>
            <p class="question__hint "><%- question.hint[question.default_language] || "" %></p>
        </div>

        <%  var no_response = true;
            _.each(question.answer, function(ans) {
            if (ans && ans.response !== null) { 
                no_response = false; %>
                <div class="input_container">
                <input class="text_input" type="number" step="any"
                    placeholder="Please provide another number (decimal OK)."
                    value="<%- ans.response %>"
                >
                <span class="icon icon-close question__minus"></span>
                </div>
            <% } %>
        <% }); %>

        <% if (no_response) { %>
            <div class="input_container">
            <input class="text_input" type="number" step="any"
                    placeholder="Please provide a number (decimal OK)."
                    value="<%- question.default || '' %>"
            >
            <span class="icon icon-close question__minus"></span>
            </div>
        <% } %>
    </script>

    <script id="widget_date" type="text/html">
        <div class="content-padded">
            <h3 class="question__title "><%- question.title[question.default_language] %></h3>
            <p class="question__hint "><%- question.hint[question.default_language] || "" %></p>
        </div>

        <%  var no_response = true;
            _.each(question.answer, function(ans) {
            if (ans && ans.response !== null && !ans.is_type_exception) { 
                no_response = false; %>
                <div class="input_container">
                <input class="text_input" type="date" 
                       placeholder="Please provide another date."
                       value="<%- ans.response %>"
                >
                <span class="icon icon-close question__minus"></span>
                </div>
            <% } %>
        <% }); %>

        <% if (no_response) { %>
            <div class="input_container">
            <input class="text_input" type="date" 
                   placeholder="Please provide a date."
                   value="<%- question.default || '' %>"
            >
            <span class="icon icon-close question__minus"></span>
            </div>
        <% } %>
    </script>

    <script id="widget_time" type="text/html">
        <div class="content-padded">
            <h3 class="question__title "><%- question.title[question.default_language] %></h3>
            <p class="question__hint "><%- question.hint[question.default_language] || "" %></p>
        </div>

        <%  var no_response = true;
            _.each(question.answer, function(ans) {
            if (ans && ans.response !== null && !ans.is_type_exception) { 
                no_response = false; %>
                <div class="input_container">
                <input class="text_input" type="time" 
                    placeholder="Please provide another time."
                    value="<%- ans.response %>"
                >
                <span class="icon icon-close question__minus"></span>
                </div>
            <% } %>
        <% }); %>

        <% if (no_response) { %>
            <div class="input_container">
            <input class="text_input" type="time" 
                   placeholder="Please provide a time."
                   value="<%- question.default || '' %>"
            >
            <span class="icon icon-close question__minus"></span>
            </div>
        <% } %>
    </script>

    <script id="widget_timestamp" type="text/html">
        <div class="content-padded">
            <h3 class="question__title "><%- question.title[question.default_language] %></h3>
            <p class="question__hint "><%- question.hint[question.default_language] || "" %></p>
        </div>

        <%  var no_response = true;
            _.each(question.answer, function(ans) {
            if (ans && ans.response !== null && !ans.is_type_exception) { 
                no_response = false; %>
                <div class="input_container">
                <input class="text_input" type="time" 
                    placeholder="Please provide another time."
                    value="<%- ans.response %>"
                >
                <span class="icon icon-close question__minus"></span>
                </div>
            <% } %>
        <% }); %>

        <% if (no_response) { %>
            <div class="input_container">
            <input class="text_input" type="time" 
                   placeholder="Please provide a time."
                   value="<%- question.default || '' %>"
            >
            <span class="icon icon-close question__minus"></span>
            </div>
        <% } %>
    </script>

    <script id="widget_photo" type="text/html">
        <div class="content-padded">
            <h3 class="question__title "><%- question.title[question.default_language] %></h3>
            <p class="question__hint "><%- question.hint[question.default_language] || "" %></p>

            <button class="btn question__photo__btn">
                <span class="icon icon-star"></span>
                <span class="btn_text"> take a photo</span>
            </button>
        </div>
            
        <canvas class="question__canvas" style="display:none; width:320px; height:240px;"></canvas>
        <video class="question__video"></video>

        <%  var no_response = true;
            _.each(question.answer, function(ans) {
            if (ans && ans.response !== null && !ans.is_type_exception) { 
                no_response = false; %>
                <div class="input_container">
                <input class="text_input" type="text" 
                    placeholder="Please click 'take a photo'."
                    value="<%- ans.response %>"
                >
                <span class="icon icon-close question__minus"></span>
                </div>
            <% } %>
        <% }); %>

        <% if (no_response) { %>
            <div class="input_container">
            <input class="text_input" type="text" 
                   placeholder="Please click 'take a photo'."
            >
            <span class="icon icon-close question__minus"></span>
            </div>
        <% } %>
    </script>

    <script id="widget_location" type="text/html">
        <div class="content-padded">
            <h3 class="question__title "><%- question.title[question.default_language] %></h3>
            <p class="question__hint "><%- question.hint[question.default_language] || "" %></p>

            <button class="btn question__find__btn ">
                <span class="icon icon-star"></span>
                 find my location
            </button>
        </div>

        <%  var no_response = true;
            _.each(question.answer, function(ans) {
            if (ans && ans.response !== null && !ans.is_type_exception) { 
                no_response = false; %>
                <div class="input_container">
                <input class="text_input location_input" type="text" 
                    placeholder="Please click 'find my location'."
                    value="<%- ans.response.lat + ' ' + ans.response.lon %>"
                >
                <span class="icon icon-close question__minus"></span>
                </div>
            <% } %>
        <% }); %>

        <% if (no_response) { %>
            <div class="input_container">
            <input class="text_input location_input" type="text" 
                   placeholder="Please click 'find my location'."
            >
            <span class="icon icon-close question__minus"></span>
            </div>
        <% } %>

    </script>

    <script id="widget_facility" type="text/html">
        <div class="content-padded">
            <h3 class="question__title "><%- question.title[question.default_language] %></h3>
            <p class="question__hint "><%- question.hint[question.default_language] || "" %></p>

            <button class="btn question__find__btn ">
                <span class="icon icon-star"></span>
                find my location and show nearby facilities
            </button>

        </div>

        <!--
        <div class="segmented-control content-padded question__toggle">
            <a class="control-item active" href="#list">
                List
            </a>
            <a class="control-item" href="#map">
                Map
            </a>
        </div>
        -->

        <span id="list" class='control-content active question__radios'></span>

        <!--
        <span id="map" class='control-content question__map'>
            <img src='/static/img/map.png' alt="map.png" class='content-padded'></img>
        </span>
        -->

        <div class='question__add__facility' style='display: none'>
            <% 
                var ans = question.answer[0] && question.answer[0].metadata.is_new && question.answer[0]; 
                var name = ans && ans.metadata.name || '';
                var sector = ans && ans.metadata.sector || '';
                var location = ans && ans.response.lat + " " + ans.response.lon || '';
                var uuid = ans && ans.response.id || ''; 
            %>
            <input class="text_input facility_uuid_input" type="text" 
                style="display:none;"
                placeholder="Facility UUID"
                value="<%- uuid %>"
            />
            <input class="text_input facility_name_input" type="text" 
                placeholder="Facility Name"
                value="<%- name %>"
            />
            <input class="text_input facility_location_input" type="text" 
                placeholder="Facility Location"
                value="<%- location %>"
            />

            <div class="content-padded">
                <select class="question__select facility_sector_input">
                    <option value="">Please choose a Sector</option>
                    <option 
                        <% if (sector === 'water') { %> selected <% } %>
                        value="water">
                        Water
                    </option>
                    <option 
                        <% if (sector === 'energy') { %> selected <% } %>
                        value="energy">
                        Energy
                    </option>
                    <option 
                        <% if (sector === 'education') { %> selected <% } %>
                        value="education">
                        Education
                    </option>
                    <option 
                        <% if (sector === 'other') { %> selected <% } %>
                        value="other">
                        Other
                    </option>
                </select>
            </div>
        </div>

        <div class="content-padded">
            <button class="btn facility__btn">add new facility</button>
        </div>
    </script>

    <script id="widget_multiple_choice" type="text/html">
        <div class="content-padded">
            <h3 class="question__title "><%- question.title[question.default_language] %></h3>
            <p class="question__hint "><%- question.hint[question.default_language] || "" %></p>

            <select class="question__select " 
                <%  if (question.allow_multiple) { %> 
                    multiple 
                    size=<%- question.choices.length + 1 + 1*question.logic.allow_other %> 
                <% } %>
            >

                <option value="null">Please choose an option</option>
                <% _.each(question.choices, function(choice, ind) { %>
                    <option 
                        <% if (question.answer[ind] &&
                        choice.choice_id === question.answer[ind].response) { %>
                            selected
                        <% } %>
                        value="<%- choice.choice_id %>"><%- choice.choice_text[question.default_language] %>
                    </option>
                <% }); %>

                <% if (question.logic.allow_other) { %>
                    <option 
                        <% var ans = question.answer[question.choices.length];
                        if (ans && (ans.is_type_exception && ans.metadata.type_exception === "other"))  { %>
                            selected
                        <% } %>
                    value="other">
                        <%- question.logic.other_text || 'Other' %>
                    </option>
                <% } %>
            </select>
        </div>

        <input class="text_input other_input" type="text"
                placeholder="Please explain..."
                value="<%- question.answer[question.choices.length] && question.answer[question.choices.length].response %>"
        >
    </script>
    
    <script id="widget_note" type="text/html">
        <div class="content-padded">
            <h3 class="question__title "><%- question.title[question.default_language] %></h3>
            <p class="question__hint "><%- "A breif message from the survey creator" %></p>
        </div>
    </script>

    <script id="template_repeat" type="text/html">
        <div class="question__repeat content-padded">
            <button class="btn question__add">
                add another answer
            </button>
        </div>
    </script>

    <script id="template_dont_know" type="text/html">
        <div class="question__dont_know"
            <% var ans = question.answer && question.answer[0]; //i know the position
               var is_other = ans && ans.is_type_exception && ans.metadata.type_exception === "dont_know";
            %>
                style="display: none;"
        >
            <input class="text_input dont_know_input" type="text" 
                placeholder="Please explain..."
                disabled=true
                <% if (is_other) { %>
                    value="<%- ans.response %>"
                <% } %>
            >
        </div>

    </script>

    <script id="template_submit" type="text/html">
        <div class="content-padded">
            <h3 class="">Ready to Save?</h3>
            <p class="">If youre satisfied with the answers to all the questions, you can save the survey now.</p>
            <br>
            <p class="">Enter your name and email id.</p>
        </div>

        <input class="name_input" type="text"
            placeholder="Please provide your name."
            value="<%- name || '' %>">
        <input class="email_input" type="email"
            placeholder="Please provide your email."
            value="<%- email || '' %>">

        <div class="content-padded">
            <div class="message-box-primary"> 
                <span>Saved surveys must be uploaded when you next have network connectivity.</span>
            </div>
        </div>
    </script>

    <script id="template_splash" type="text/html">
        <div class="content-padded">
            <h3 class=""><%- survey.title %></h3>
            <p class="">version <%- survey.version %> | last updated <%- survey.last_update_time %></p>

            <% if (unsynced.length > 0 && online) { %>
                <div class="message-box-warning"> 
                    <span>You have <strong><%- unsynced.length %></strong> unsynced surveys. Please submit them now. </span>  
                </div>
                <button class="btn btn-block btn-primary sync_btn navigate-right ">
                    Submit Completed Surveys
                </button>
            <% } else if (unsynced.length > 0  && !online) { %>
                <div class="message-box-warning"> 
                    <span>You have <strong><%- unsynced.length %></strong> unsynced surveys. </span>  
                    <br>
                    <br>
                    <span>At present, you do not have a network connection - please remember to submit these surveys the next time you do have access to the internet.</span>  
                </div>
            <% } else { %>
                <div class="message-box-primary"> 
                    <span> Hi, <strong><%- name %></strong> and welcome to <%- survey.title %>.</span>
                    <br>
                    <br>
                    <span> If you have any questions regarding this survey, please contact the survey administrator.</span>  
                </div>
            <% } %>
        </div>
    </script>

    <!--<script src="/static/ratchet-2.0.2/dist/js/ratchet.js"></script>-->
    <script src="/static/ratchet-2.0.2/js/modals.js"></script>
    <script src="/static/lib.js"></script>
    <script src="/static/bundle.js"></script>
    <script>
        App.init({% raw survey %});
    </script>

</body>

</html>
