<!DOCTYPE html>
<html lang = "en">

<head>
	<!-- TODO: consider not loading this from CDN-->
	<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,500,700' rel='stylesheet' type='text/css'>

	<link href="{{ static_url('dist/admin/css/admin.css') }}" rel="stylesheet" type="text/css">

	<link rel="icon" href="{{ static_url('dist/admin/img/favicon.png') }}">
	<link rel="manifest" href="{{ static_url('manifest.json') }}">
</head>


    <body>
        <div id="app"></div>
    </body>


    <script type="text/javascript" src="{{ static_url('dist/admin/js/vendor.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('dist/admin/js/create-survey/main.babel.bundle.js') }}"></script>


</html>