<!DOCTYPE html>
<html manifest="/static/cache.appcache">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, user-scalable=no,  initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100' rel='stylesheet' type='text/css'>

    <title>Dokomoforms</title>

    <link href="/static/ratchet-2.0.2/dist/css/ratchet.min.css" rel="stylesheet">
    <!--<script src="/static/ratchet-2.0.2/dist/js/ratchet.js"></script>-->
    <!-- RIP <link href="/static/css/style.css" rel="stylesheet" type="text/css">-->
    <link href="/static/css/survey.css" rel="stylesheet" type="text/css">

    <link rel="icon" href="/static/img/favicon.png">
</head>
<body>

    <header class="bar bar-nav bar-padded"></header>
    <div class="content"></div>
    <div class="overlay" style="display:none;"></div>
    <div class="bar bar-standard bar-footer"></div>
    
    <script id="template_nav" type="text/html">
        <button class="btn btn-link btn-nav pull-left page_nav__prev">
            <span class="icon icon-left-nav"></span>
            <span class="">Previous</span>
        </button>
        <a class="icon icon-info pull-right"></a>
        <h1 class="title"><%- index + " / " + total %></h1>
    </script>

    <script id="template_footer" type="text/html">
        <div class="bar-padded">
            <button class="btn btn-block btn-primary navigate-right page_nav__next">
                Next Question
            </button>
        </div>
        <div class="question__btn__other" style="display: none;">
            <input type="checkbox" name='dont-know' value='selected'/>
            <%- other_text || "I don't know the answer" %>
        </div>
    </script>
    
    <script id="template_nav__splash" type="text/html">
        <h1 class="title align-left"><%- org || 'Dokomoforms' %></h1>
        <a class="icon icon-info pull-right"></a>
    </script>

    <script id="template_footer__splash" type="text/html">
        <div class="bar-padded">
            <button class="btn btn-block btn-positive navigate-right start_btn">
                Begin a New Survey 
            </button>
        </div>
    </script>
    
    <script id="template_footer__submit" type="text/html">
        <div class="bar-padded">
            <button class="btn btn-block btn-positive submit_btn">
                <span class="btn-text pull-left"> Save Survey</span>
                <span class="icon icon-check pull-right"></span>
            </button>
        </div>
    </script>


    <script id="widget_text" type="text/html">
        <div class="content-padded">
            <h3 class="question__title  "><%- question.question_title %></h3>
            <p class="question__hint "><%- question.hint || "" %></p>
        </div>

        <%  var no_response = true;
            _.each(question.answer, function(ans) {
            if (ans && ans.response !== null && !ans.is_type_exception) { 
                no_response = false; %>
                <input class="text_input" type="text" 
                    placeholder="Please provide another response."
                    value="<%- ans.response %>"
                >
                <span class="icon icon-close question__minus"></span>
            <% } %>
        <% }); %>

        <% if (no_response) { %>
           <input class="text_input x_buffer" type="text"
               placeholder="Please provide any response."
               value="<%- question.default || '' %>"
           >
           <span class="icon icon-close question__minus"></span>
        <% } %>
    </script>
    
    <script id="widget_integer" type="text/html">
        <div class="content-padded">
            <h3 class="question__title "><%- question.question_title %></h3>
            <p class="question__hint "><%- question.hint || "" %></p>
        </div>

        <%  var no_response = true;
            _.each(question.answer, function(ans) {
            if (ans && ans.response !== null && !ans.is_type_exception) { 
                no_response = false; %>
                <input class="text_input" type="number"
                    placeholder="Please provide another number."
                    value="<%- ans.response %>"
                    <% if (question.min != null){ %>
                        min="<%- question.min %>"
                    <% } %>
                    <% if (question.max != null){ %>
                        max="<%- question.max %>"
                    <% } %>
                >
                <span class="icon icon-close question__minus"></span>
            <% } %>
        <% }); %>

        <% if (no_response) { %>
            <input class="text_input" type="number"
                placeholder="Please provide a number."
                value="<%- question.default || '' %>"
                <% if (question.min != null){ %>
                    min="<%- question.min %>"
                <% } %>
                <% if (question.max != null){ %>
                    max="<%- question.max %>"
                <% } %>
            >
            <span class="icon icon-close question__minus"></span>
        <% } %>
    </script>
    
    <script id="widget_decimal" type="text/html">
        <div class="content-padded">
            <h3 class="question__title "><%- question.question_title %></h3>
            <p class="question__hint "><%- question.hint || "" %></p>
        </div>

        <%  var no_response = true;
            _.each(question.answer, function(ans) {
            if (ans && ans.response !== null) { 
                no_response = false; %>
                <input class="text_input" type="number" step="any"
                    placeholder="Please provide another number (decimal OK)."
                    value="<%- ans.response %>"
                >
                <span class="icon icon-close question__minus"></span>
            <% } %>
        <% }); %>

        <% if (no_response) { %>
            <input class="text_input" type="number" step="any"
                    placeholder="Please provide a number (decimal OK)."
                    value="<%- question.default || '' %>"
            >
            <span class="icon icon-close question__minus"></span>
        <% } %>
    </script>

    <script id="widget_date" type="text/html">
        <div class="content-padded">
            <h3 class="question__title "><%- question.question_title %></h3>
            <p class="question__hint "><%- question.hint || "" %></p>
        </div>

        <%  var no_response = true;
            _.each(question.answer, function(ans) {
            if (ans && ans.response !== null && !ans.is_type_exception) { 
                no_response = false; %>
                <input class="text_input" type="date" 
                       placeholder="Please provide another date."
                       value="<%- ans.response %>"
                >
                <span class="icon icon-close question__minus"></span>
            <% } %>
        <% }); %>

        <% if (no_response) { %>
            <input class="text_input" type="date" 
                   placeholder="Please provide a date."
                   value="<%- question.default || '' %>"
            >
            <span class="icon icon-close question__minus"></span>
        <% } %>
    </script>

    <script id="widget_time" type="text/html">
        <div class="content-padded">
            <h3 class="question__title "><%- question.question_title %></h3>
            <p class="question__hint "><%- question.hint || "" %></p>
        </div>

        <%  var no_response = true;
            _.each(question.answer, function(ans) {
            if (ans && ans.response !== null && !ans.is_type_exception) { 
                no_response = false; %>
                <input class="text_input" type="time" 
                    placeholder="Please provide another time."
                    value="<%- ans.response %>"
                >
                <span class="icon icon-close question__minus"></span>
            <% } %>
        <% }); %>

        <% if (no_response) { %>
            <input class="text_input" type="time" 
                   placeholder="Please provide a time."
                   value="<%- question.default || '' %>"
            >
            <span class="icon icon-close question__minus"></span>
        <% } %>
    </script>

    <script id="widget_location" type="text/html">
        <div class="content-padded">
            <h3 class="question__title "><%- question.question_title %></h3>
            <p class="question__hint "><%- question.hint || "" %></p>

            <button class="btn question__find__btn ">
                <span class="icon icon-star"></span>
                Capture Location
            </button>
        </div>

        <div id="map" class="question__map"></div>

        <%  var no_response = true;
            _.each(question.answer, function(ans) {
            if (ans && ans.response !== null && !ans.is_type_exception) { 
                no_response = false; %>
                <input class="text_input location_input" type="text" 
                    placeholder="Please click 'Capture Location' or drag map."
                    value="<%- ans.response.lat + ' ' + ans.response.lon %>"
                >
                <span class="icon icon-close question__minus"></span>
            <% } %>
        <% }); %>

        <% if (no_response) { %>
            <input class="text_input location_input" type="text" 
                   placeholder="Please click 'Capture Location' or drag map."
            >
            <span class="icon icon-close question__minus"></span>
        <% } %>

    </script>

    <script id="widget_facility" type="text/html">
        <div class="content-padded">
        <h3 class="question__title "><%- question.question_title %></h3>
        <p class="question__hint "><%- question.hint || "" %></p>

        <button class="btn question__find__btn ">
            <span class="icon icon-star"></span>
            Capture Location
        </button>
        </div>

        <div id="map" class="question__map"></div>

        <div class="content-padded">
            <button class="btn facility__btn ">Add New Site</button>
        </div>

        <input class="text_input facility__name" type="text"/>
        <select class="question__select facility__type ">
            <option value="other">Other</option>
            <option value="water">Water</option>
            <option value="health">Health</option>
            <option value="education">Education</option>
        </select>

    </script>

    <script id="widget_multiple_choice" type="text/html">
        <div class="content-padded">
            <h3 class="question__title "><%- question.question_title %></h3>
            <p class="question__hint "><%- question.hint || "" %></p>

            <select class="question__select " 
                <%  if (question.allow_multiple) { %> 
                    multiple 
                    size=<%- question.choices.length + 1 + 1*question.logic.allow_other %> 
                <% } %>
            >

                <option value="null">Please choose an option</option>
                <% _.each(question.choices, function(choice, ind) { %>
                    <option 
                        <% if (question.answer[ind] &&
                        choice.question_choice_id === question.answer[ind].response) { %>
                            selected
                        <% } %>
                        value="<%- choice.question_choice_id %>"><%- choice.choice %>
                    </option>
                <% }); %>

                <% if (question.logic.allow_other) { %>
                    <option 
                        <% var ans = question.answer[question.choices.length];
                        if (ans && (ans.is_type_exception && ans.metadata.type_exception === "other"))  { %>
                            selected
                        <% } %>
                    value="other">
                        <%- question.logic.other_text || 'Other' %>
                    </option>
                <% } %>
            </select>
        </div>

        <input class="text_input other_input" type="text"
                placeholder="Enter an excuse for your incompetence."
                value="<%- question.answer[question.choices.length] && question.answer[question.choices.length].response %>"
        >
    </script>
    
    <script id="widget_note" type="text/html">
        <div class="content-padded">
            <h3 class="question__title "><%- question.question_title %></h3>
            <p class="question__hint "><%- question.hint || "" %></p>
        </div>
    </script>

    <script id="template_repeat" type="text/html">
        <div class="question__repeat content-padded">
            <button class="btn question__add">
                add another answer
            </button>
        </div>
    </script>

    <script id="template_dont_know" type="text/html">
        <div class="question__dont_know"
            <% var ans = question.answer && question.answer[0]; //i know the position
               var is_other = ans && ans.is_type_exception && ans.metadata.type_exception === "dont_know";
            %>
                style="display: none;"
        >
            <input class="text_input dont_know_input" type="text" 
                placeholder="Enter an excuse for your incompetence."
                disabled=true
                <% if (is_other) { %>
                    value="<%- ans.response %>"
                <% } %>
            >
        </div>

    </script>

    <script id="template_submit" type="text/html">
        <div class="content-padded">
            <h3 class="">Ready to Save?</h3>
            <p class="">If youre satisfied with the answers to all the questions, you can save the survey now.</p>
            <br>
            <p class="">Enter your name and email id.</p>
        </div>

        <input class="name_input" type="text"
            placeholder="Please provide your name."
            value="<%- name || '' %>">
        <input class="email_input" type="email"
            placeholder="Please provide your email."
            value="<%- email || '' %>">

        <div class="content-padded">
            <div class="message-box-primary"> 
                <span>Saved surveys must be uploaded when you next have network connectivity.</span>
            </div>
        </div>
    </script>

    <script id="template_splash" type="text/html">
        <div class="content-padded">
            <h3 class=""> <%- survey.title %> Survey</h3>
            <p class="">version <%- survey.version %> | last updated <%- survey.last_updated %></p>

            <% if (unsynced.length > 0 && online) { %>
                <div class="message-box-warning"> 
                    <span>You have <strong><%- unsynced.length %></strong> unsynced surveys. Please submit them now. </span>  
                </div>
                <button class="btn btn-block btn-primary sync_btn navigate-right ">
                    Submit Completed Surveys
                </button>
            <% } else if (unsynced.length > 0  && !online) { %>
                <div class="message-box-warning"> 
                    <span>You have <strong><%- unsynced.length %></strong> unsynced surveys. </span>  
                    <br>
                    <br>
                    <span>At present, you do not have a network connection - please remember to submit these surveys the next time you do have access to the internet.</span>  
                </div>
            <% } else { %>
                <div class="message-box-primary"> 
                    <span> Hi, <strong><%- name %></strong> and welcome to the <%- survey.title %> Survey.</span>
                    <br>
                    <br>
                    <span> If you have any questions regarding this survey, please contact the survey administrator.</span>  
                </div>
            <% } %>
        </div>
    </script>

    <script src="/static/lib.js"></script>
    <script src="/static/app.js"></script>
    <script>
        App.init({% raw survey %});
    </script>

</body>

</html>
