{% extends "base.html" %}

{% block header %}
<div class="header light-shadow">
    {% if current_user %}
    <div class="row header-main-nav">
        <div class="container">
            <div class="col-md-6"><h1>{{ survey.survey_title }}</h1></div>
            <div class="col-md-6">
                <ul class="pull-right">
                    <li>
                        <a href="/view/{{ survey.survey_id }}">Manage Survey</a>
                    </li>
                    <li>
                        <a class="active" href="/view/data/{{ survey.survey_id }}">View Data</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row header-sub-nav">
            
        </div>
    </div>
    {% end %}
</div>
{% end %}


{% block subheader %}
<div class="subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Survey Data</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="stat-label">
                    created on
                </div>
                <div class="stat-value stat-created-on">
                    {{ iso_date_str_to_fmt_str(survey_stats['result']['created_on'], "%b %d, %Y") }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="stat-label">
                    first submission
                </div>
                <div class="stat-value stat-first-submission">
                    {{ iso_date_str_to_fmt_str(survey_stats['result']['earliest_submission_time'], "%b %d, %Y") }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="stat-label">
                    latest submission
                </div>
                <div class="stat-value stat-latest-submission">
                    {{ iso_date_str_to_fmt_str(survey_stats['result']['latest_submission_time'], "%b %d, %Y") }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="stat-label">
                    total submissions
                </div>
                <div class="stat-value stat-created-on">
                    {{ format(survey_stats['result']['num_submissions'], ',') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}



{% block content %}
<div class="content">
    <div class="container" role="main">
        
        <div class="message">
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- <h4>Survey Questions</h4> -->
                <ul class="survey-questions">
                    {% for stats in question_stats['result'] %}
                        <li>
                        
                            <div class="question-title-bar {% if stats['question'].type_constraint_name == "location" %} question-location {% end %}" 
                            {% if stats['question'].type_constraint_name == "location" %} rel="location-map-{{ stats['question'].question_id }}" {% end %}>
                                
                                {{ stats['question'].sequence_number }}. {{ stats['question'].question_title }} 
                                <span class="question-type pull-right">{{ stats['question'].type_constraint_name }}</span>
                            </div>

                            <div class="question-stats">
                                <div class="row">
                                    {% if stats['question'].type_constraint_name == "location" %}
                                        <!-- This is a location question, show the map -->
                                        <div class="col-md-12">
                                            <div class="location-map" id="location-map-{{ stats['question'].question_id }}"></div>
                                        </div>

                                    {% else %}
                                        {% for stat in stats['stats'] %}
                                            <div class="col-md-3 question-stat">
                                                <div class="stat-label">
                                                    {{ stat['query'] }}
                                                </div>
                                                <div class="stat-value stat-created-on">
                                                    {{ stat['result'] }}
                                                </div>
                                            </div>
                                        {% end %}
                                    {% end %}
                                </div>
                            </div>
                            
                            <!--<p>{{ stats['question'].sequence_number }}. {{ stats['question'].question_title }} - {{ stats['question'].question_id }}</p>-->
                            <!-- <p><a href="/visualize/{{ stats['question'].question_id }}">{{ stats['question'].sequence_number }}. {{ stats['question'].question_title }}</a></p> -->
                            
                        </li>
                    {% end %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% end %}


{% block extra_scripts %}

<script type="text/javascript">
    $(function() {

        $(document).on('click', '.question-title-bar', function(e) {
            $el = $(this);
            if ($el.hasClass('open')) {
                $el.removeClass('open');
            } else {
                $el.addClass('open');
            }
            $el.siblings('.question-stats').slideToggle();
            if ($el.hasClass('question-location')) {
                var id = $el.attr('rel');
                console.log(id);
                drawMap(id, map_data[id]);
            }
        });

        $('#submissions').dataTable( {
            language: {
                search: "Search by submitter name:"
            },
            "lengthMenu": [[20, 50, 100], [20, 50, 100]],
            "pagingType": "full_numbers",
            "order": [[2, 'desc']],
            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        return '<a data-ignore="push" href="/view/submission/' + data + '">' + data + '</a>';
                    },
                    "targets": 0
                },
                {
                    "render": function (data, type, row) {
                        var datetime = new Date(data);
                        return datetime.toDateString() + '<br />' + datetime.toTimeString();
                    },
                    "targets": 2
                }
            ],
            "columns": [
                {"name": "submission_id"},
                {"name": "submitter"},
                {"name": "submission_time"}
            ],
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/api/submission_data_table/{{ survey.survey_id }}",
                "data": function(d) {
                    return {"args": JSON.stringify(d)};
                }
            }
        } );


        var maps = {},
            map_data = {};

        {% for question in location_questions %}
            map_data['location-map-{{ question["question_id"] }}'] = {% raw question["map_data"] %};
        {% end %}

        function drawMap(element_id, map_data) {

            var map = L.map(element_id, {
                dragging: true,
                zoom: 14,
                // zoomControl: false,
                // doubleClickZoom: false,
                attributionControl: false
            });

            maps[element_id] = map;

            markers = [];

            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {}).addTo(map);

            var markers = [];
            _.each(map_data, function(location) {
                var lng = parseFloat(location[0]),
                    lat = parseFloat(location[1]),
                    answers = JSON.parse(location[2]).answers,
                    submission_text;
                // stored lon/lat in revisit, switch around
                var marker = new L.marker([lat, lng], {
                    riseOnHover: true
                });
                marker.options.icon = new L.icon({iconUrl: "/static/img/icons/normal_base.png", iconAnchor: [15, 48]});
                
                submission_text = "<ul>";
                _.each(answers, function(ans) {
                    var metadata = "";
                    if (ans.answer_metadata && !_.isEmpty(ans.answer_metadata)) {
                        metadata += "<br />" + JSON.stringify(ans.answer_metadata);
                    }
                    submission_text += "<li><strong>" + ans.sequence_number + ". " + ans.question_title + "</strong><br />" + ans.answer + metadata + "</li>";
                });
                
                submission_text += "</ul";

                marker.bindPopup(submission_text);
                markers.push(marker);

            });
            
            if (markers.length) {
                var markers_group = new L.featureGroup(markers);
                markers_group.addTo(map);
                map.fitBounds(markers_group.getBounds(), {
                    padding: [40, 40]
                });
            } else {
                console.log('No submissions include location.');
            }
        }

    } );
</script>

{% end %}