{% extends "base.html" %}

{% block header %}
<div class="header">
    {% if current_user %}
    <div class="container">
        <div class="row">
            <div class="col-md-6"><h1><a href="/view/{{ survey.survey_id }}">{{ survey.survey_title }}</a></h1></div>
            <div class="col-md-6 header-controls"><button class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-menu-hamburger"></span></button></div>
        </div>
    </div>
    {% end %}
</div>
{% end %} 

{% block content %}
<div class="content">
    <div class="container" role="main">
        
        <div class="message"></div>

        <div class="row">
            <div class="col-md-6">
                <!-- Recent Submissions -->
                <h4>Survey Info</h4>
                <div class="recent-submissions">
                    <div class="row row-stat">
                        <div class="col-md-4">
                            <div class="stat-label">
                                created on
                            </div>
                            <div class="stat-value stat-created-on">
                                April 28, 2014
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="stat-label">
                                first submission
                            </div>
                            <div class="stat-value stat-first-submission">
                                May 24, 2014
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="stat-label">
                                latest submission
                            </div>
                            <div class="stat-value stat-latest-submission">
                                April 13, 2015
                            </div>
                        </div>
                    </div>
                    <div class="row row-stat">
                        <div class="col-md-4">
                        <div class="stat-label">
                                total submissions
                            </div>
                            <div class="stat-value stat-total-submissions">
                                1,234
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="stat-label">
                                target submissions
                            </div>
                            <div class="stat-value stat-target-submissions">
                                5,678
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="stat-label">
                                percent complete
                            </div>
                            <div class="stat-value stat-percent-complete">
                                21.7%
                            </div>
                        </div>
                    </div>
                    <div class="row row-stat">
                        <div class="col-md-12">
                            <div class="stat-label">
                                <span class="glyphicon glyphicon-phone"></span> mobile survey link
                            </div>
                            <div class="">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="shareable-link" aria-describedby="shareable-link" value="http://dokomoforms.org/survey/{{ survey.survey_id }}">
                                    <div class="input-group-addon"><a target="_blank" href="/survey/{{ survey.survey_id }}"><span class="glyphicon glyphicon-new-window"></span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-stat">
                        <!-- <div class="col-md-4"></div> -->
                        <div class="col-md-12">
                            <div class="pull-left">
                                
                            </div>
                            
                            <div class="pull-right">
                                <a href="/view/data/{{ survey.survey_id }}" class="btn btn-sm btn-secondary"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp; View Data</a>
                            <!-- </div>
                            <div class="col-md-4"> -->
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <span class="glyphicon glyphicon-cloud-download"></span>&nbsp;&nbsp; Download Data <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="#">CSV (.csv)</a></li>
                                        <li><a href="#">KML (.kml)</a></li>
                                        <li><a href="#">JSON (.json)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Activity Graph -->
                <h4>Activity Graph</h4>
                <div class="activity-graph">
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Submissions</h4>
                <table id="submissions" class="display table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Submission ID</th>
                            <th>Submitter Name</th>
                            <th>Submission Time</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        
    </div>
</div>
{% end %}


{% block footer %}
<!-- Libs -->
<script src="/static/lib.js"></script>

<!-- Highcharts -->
<script src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript">
    
    $(function () {
        $.getJSON('/api/surveys/{{ survey.survey_id }}/submission_activity', function(data) {

            var results = data.result,
                cats = [], 
                data = [];

            if (!results.length) {
                return;
            }

            _.each(results, function(result) {
                var date = moment(result[1], "YYYY-MM-DD").format('MMM D');

                console.log(date);

                data.push(result[0]);
                cats.push(date);
            });


            $('.activity-graph').highcharts({
                chart: {
                    type: 'line'
                },
                title: {
                    text: null
                },
                colors: [
                    '#666'
                ],
                xAxis: {
                    categories: cats
                },
                yAxis: {
                    title: {
                        text: '# of submissions'
                    }
                },
                series: [{
                    name: 'Submissions',
                    data: data
                }],
                credits: {
                    enabled: false
                }
            });
        });
    });

</script>

<!-- DataTables -->
<script src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script src="http://cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function() {
        $('#submissions').dataTable( {
            language: {
                search: "Search by submitter name:"
            },
            "lengthMenu": [[20, 50, 100], [20, 50, 100]],
            "pagingType": "full_numbers",
            "order": [[2, 'desc']],
            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        return '<a data-ignore="push" href="/view/submission/' + data + '">' + data + '</a>';
                    },
                    "targets": 0
                },
                {
                    "render": function (data, type, row) {
                        var datetime = new Date(data);
                        return datetime.toDateString() + '<br />' + datetime.toTimeString();
                    },
                    "targets": 2
                }
            ],
            "columns": [
                {"name": "submission_id"},
                {"name": "submitter"},
                {"name": "submission_time"}
            ],
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/api/submission_data_table/{{ survey.survey_id }}",
                "data": function(d) {
                    return {"args": JSON.stringify(d)};
                }
            }
        } );
    } );
</script>

<script src="https://login.persona.org/include.js"></script>
<script src="/static/persona.js"></script>
{% end %}