{% extends "base.html" %}

{% block header %}
<div class="header light-shadow">
    {% if current_user %}
    <div class="row header-main-nav">
        <div class="container">
            <div class="col-md-6"><h1>{{ survey.title }}</h1></div>
            <div class="col-md-6">
                <ul class="pull-right">
                    <li>
                        <a href="/view/{{ survey.id }}">Manage Survey</a>
                    </li>
                    <li>
                        <a class="active" href="/view/data/{{ survey.id }}">View Data</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row header-sub-nav">
            
        </div>
    </div>
    {% end %}
</div>
{% end %}


{% block subheader %}
<div class="subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Survey Data</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="stat-label">
                    created on
                </div>
                <div class="stat-value stat-created-on">
		    {{ survey.created_on.strftime("%b %d, %Y") }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="stat-label">
                    first submission
                </div>
                <div class="stat-value stat-first-submission">
		    {% if survey.earliest_submission_time %}
		        {{ survey.earliest_submission_time.strftime("%b %d, %Y") }}
		    {% else %}
		        {{ survey.earliest_submission_time }}
		    {% end %}
                </div>
            </div>
            <div class="col-md-2">
                <div class="stat-label">
                    latest submission
                </div>
                <div class="stat-value stat-latest-submission">
		    {% if survey.latest_submission_time %}
		        {{ survey.latest_submission_time.strftime("%b %d, %Y") }}
		    {% else %}
		        {{ survey.latest_submission_time }}
		    {% end %}
                </div>
            </div>
            <div class="col-md-2">
                <div class="stat-label">
                    total submissions
                </div>
                <div class="stat-value stat-created-on">
		    {{ survey.num_submissions }}
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}



{% block content %}
<div class="content">
    <div class="container" role="main">
        
        <div class="message">
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- <h4>Survey Questions</h4> -->
                <ul class="survey-questions">
                    {% for index, stats in enumerate(question_stats) %}
                        <li>
                        
                            <div class="question-title-bar question-type-{{ stats['survey_node'].type_constraint }} {% if stats['survey_node'].type_constraint == "location" %} question-location {% end %}" 
                            {% if stats['survey_node'].type_constraint == "location" %} rel="location-map-{{ stats['survey_node'].id }}" {% end %}>
                                
                                {{ index }}. {{ stats['survey_node'].node.title }} 
                                <span class="question-type pull-right">{{ stats['survey_node'].type_constraint }}</span>
                            </div>

                            <div class="question-stats">
                                <div class="row">
                                    {% if stats['survey_node'].type_constraint == "location" %}
                                        <!-- This is a location question, show the map -->
                                        <div class="col-md-12">
                                            <div class="location-map" id="location-map-{{ stats['survey_node'].id }}"></div>
                                        </div>

                                    {% else %}
                                        {% for stat in stats['stats'] %}
                                            <div class="col-md-3 question-stat">
                                                <div class="stat-label">
                                                    {{ stat['query'] }}
                                                </div>
                                                <div class="stat-value stat-created-on">
                                                    {{ stat['result'] }}
                                                </div>
                                            </div>
                                        {% end %}
                                    {% end %}
                                </div>
                            </div>
                            
                            <!--<p>{{ index }}. {{ stats['survey_node'].node.title }} - {{ stats['survey_node'].id }}</p>-->
                            <!-- <p><a href="/visualize/{{ stats['survey_node'].id }}">{{ index }}. {{ stats['survey_node'].node.title }}</a></p> -->
                            
                        </li>
                    {% end %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% end %}


{% block extra_scripts %}

<script type="text/javascript">
    $(function() {
        var map;

        $(document).on('click', '.question-title-bar', function(e) {
            $el = $(this);
            if ($el.hasClass('open')) {
                $el.removeClass('open');
            } else {
                $el.addClass('open');
            }
            $el.siblings('.question-stats').slideToggle();
            if ($el.hasClass('question-location')) {
                if (!map) {
                    var id = $el.attr('rel');
                    console.log(id);
                    drawMap(id, map_data[id]);
                }
            }
        });

        $('#submissions').dataTable( {
            language: {
                search: "Search by submitter name:"
            },
            "lengthMenu": [[20, 50, 100], [20, 50, 100]],
            "pagingType": "full_numbers",
            "order": [[2, 'desc']],
            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        return '<a data-ignore="push" href="/view/submission/' + data + '">' + data + '</a>';
                    },
                    "targets": 0
                },
                {
                    "render": function (data, type, row) {
                        var datetime = new Date(data);
                        return datetime.toDateString() + '<br />' + datetime.toTimeString();
                    },
                    "targets": 2
                }
            ],
            "columns": [
                {"name": "submission_id"},
                {"name": "submitter"},
                {"name": "submission_time"}
            ],
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/api/submission_data_table/{{ survey.id }}",
                "data": function(d) {
                    return {"args": JSON.stringify(d)};
                }
            }
        } );


        var maps = {},
            map_data = {};

        {% for survey_node_data in location_stats %}
	    map_data['location-map-{{ survey_node_data["survey_node_id"] }}'] = {% raw survey_node_data %};
        {% end %}

        function drawMap(element_id, map_data) {

            map = L.map(element_id, {
                dragging: true,
                zoom: 14,
                // zoomControl: false,
                // doubleClickZoom: false,
                attributionControl: false
            });

            maps[element_id] = map;

            markers = [];

            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {}).addTo(map);

	    var markers = [];
	    _.each(map_data.map_data, function(answer) {
	        var coordinates = answer.coordinates,
		    marker = new L.marker([coordinates.lat, coordinates.lng], {
		        riseOnHover: true
		});
                marker.options.icon = new L.icon({iconUrl: "/static/img/icons/normal_base.png", iconAnchor: [13, 30]});
                marker.on('click', function() {
                    openSubmissionDetailModal(answer.submission_id);
                });
                markers.push(marker);
	    });
            
            if (markers.length) {
                var markers_group = new L.featureGroup(markers);
                markers_group.addTo(map);
                map.fitBounds(markers_group.getBounds(), {
                    padding: [40, 40]
                });
            } else {
                console.log('No submissions include location.');
            }
        }

    } );
</script>

{% end %}
