{% extends "base.html" %}

{% block header %}
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><h1><a href="/view/{{ survey.survey_id }}">{{ survey.survey_title }}</a></h1></div>
            <div class="col-md-6 header-controls"><button class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-menu-hamburger"></span></button></div>
        </div>
    </div>
</div>
{% end %}


{% block subheader %}
<div class="subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Submission Detail</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="stat-label">
                    conducted on
                </div>
                <div class="stat-value stat-created-on">
                    {{ iso_date_str_to_fmt_str(submission['submission_time'], "%b %d, %Y") }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="stat-label">
                    conducted by
                </div>
                <div class="stat-value stat-created-on">
                    {{ submission['submitter'] }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="stat-label">
                    submitted on
                </div>
                <div class="stat-value stat-created-on">
                    {{ iso_date_str_to_fmt_str(submission['submission_time'], "%b %d,f %Y") }}
                </div>
            </div>
            <!-- <div class="col-md-2">
                <div class="stat-label">
                    survey
                </div>
                <div class="stat-value stat-created-on">
                    {{ survey.survey_title }}
                </div>
            </div> -->
        </div>
    </div>
</div>
{% end %}


{% block content %}
    <div class="content">
        <div class="container" role="main">
            
            <div class="message">
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="survey-responses">
                        {% for answer in submission['answers'] %}
                            <li>
                            
                                <div class="response-title-bar">
                                    {{ answer['sequence_number'] }}. {{ answer['question_title'] }}
                                    <span class="question-type pull-right">{{ answer['type_constraint_name'] }}</span>
                                </div>

                                <div class="response-data">
                                    {% if answer['choice'] %}
                                        Choice: {{ answer['choice_number'] }}. {{ answer['choice'] }}<br/>
                                    {% else %}
                                        Answer: {{ answer['answer'] }}<br/>
                                    {% end %}
                                </div>
                                
                            </li>
                        {% end %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% end %}



{% block footer %}

<script src="/static/lib.js"></script>
<script src="https://login.persona.org/include.js"></script>
<script src="/static/persona.js"></script>
    
{% end %}
