{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
{% end %}

{% block content %}
    <div class="content">
        <div>
            <h4>Welcome {{ current_user }}</h4>
            <a href="/survey/{{ survey.survey_id }}">Shareable link!!!</a>
            <p>Questions with submission statistics:</p>
            <ul>
                {% for stats in question_stats['result'] %}
                    <li>
                        <!--<p>{{ stats['question'].sequence_number }}. {{ stats['question'].question_title }} - {{ stats['question'].question_id }}</p>-->
                        <p><a href="/visualize/{{ stats['question'].question_id }}">{{ stats['question'].sequence_number }}. {{ stats['question'].question_title }}</a></p>
                        {% for stat in stats['stats'] %}
                            <p>{{ stat['query'] }}: {{ stat['result'] }}</p>
                        {% end %}
                    </li>
                {% end %}
            </ul>
            <p>Submissions to {{ survey.survey_title }}: </p>
            <table id="submissions" class="display" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Submission ID</th>
                        <th>Submitter Name</th>
                        <th>Submission Time</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Submission ID</th>
                        <th>Submitter Name</th>
                        <th>Submission Time</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <a class="btn" href="#" id="logout">Logout</a>
    </div>

    <script src="/static/lib.js"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="/static/persona.js"></script>
    <script src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#submissions').dataTable( {
                language: {
                    search: "Search by submitter name:"
                },
                "lengthMenu": [[20, 50, 100], [20, 50, 100]],
                "pagingType": "full_numbers",
                "order": [[2, 'desc']],
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            return '<a href="/view/submission/' + data + '">' + data + '</a>';
                        },
                        "targets": 0
                    },
                    {
                        "render": function (data, type, row) {
                            var datetime = new Date(data);
                            return datetime.toDateString() + '<br />' + datetime.toTimeString();
                        },
                        "targets": 2
                    }
                ],
                "columns": [
                    {"name": "submission_id"},
                    {"name": "submitter"},
                    {"name": "submission_time"}
                ],
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/api/submission_data_table/{{ survey.survey_id }}",
                    "data": function(d) {
                        return {"args": JSON.stringify(d)};
                    }
                }
            } );
        } );
    </script>
{% end %}
