{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div>
            <h4>Welcome {{ current_user }}</h4>
            <p> Your surveys: </p>
            <table id="surveys" class="display" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Survey title</th>
                        <th>Number of submissions</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Survey title</th>
                        <th>Number of submissions</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <a class="btn" href="#" id="logout">Logout</a>
    </div>

    <script src="/static/lib.js"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="/static/persona.js"></script>
    <script src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#surveys').dataTable( {
                "pagingType": "full_numbers",
                "order": [],
                "columns": [
                    {"name": "survey_title"},
                    {"name": "num_submissions"}
                ],
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "api/survey_data_table",
                    "data": function(d) {
                        return {"args": JSON.stringify(d)};
                    }
                }
            } );
        } );
    </script>
{% end %}
