{% extends "base.html" %}

{% block header %}
<div class="header">
    {% if current_user %}
    <div class="container">
        <div class="row">
            <div class="col-md-6"><h1><a href="/view/{{ survey.survey_id }}">{{ survey.survey_title }}</a></h1></div>
            <div class="col-md-6 header-controls">
                <div class="btn-group pull-right">
                    <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="/">Account Dashboard</a></li>
                        <li><a href="/view/{{ survey.survey_id }}">Manage Survey</a></li>
                        <li><a href="/view/data/{{ survey.survey_id }}">View Survey Data</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% end %}
</div>
{% end %} 

{% block content %}
<div class="content">
    <div class="container" role="main">
        
        <div class="message"></div>

        <div class="row">
            <div class="col-md-6">
                <!-- Recent Submissions -->
                <h4>Survey Info</h4>
                <div class="recent-submissions">
                    <div class="row row-stat">
                        <div class="col-md-4">
                            <div class="stat-label">
                                created on
                            </div>
                            <div class="stat-value stat-created-on">
                                {{ iso_date_str_to_fmt_str(survey_stats['result']['created_on'], "%b %d, %Y") }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="stat-label">
                                first submission
                            </div>
                            <div class="stat-value stat-first-submission">
                                {{ iso_date_str_to_fmt_str(survey_stats['result']['earliest_submission_time'], "%b %d, %Y") }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="stat-label">
                                latest submission
                            </div>
                            <div class="stat-value stat-latest-submission">
                                {{ iso_date_str_to_fmt_str(survey_stats['result']['latest_submission_time'], "%b %d, %Y") }}
                            </div>
                        </div>
                    </div>
                    <div class="row row-stat">
                        <div class="col-md-4">
                        <div class="stat-label">
                                total submissions
                            </div>
                            <div class="stat-value stat-total-submissions">
                                {{ format(survey_stats['result']['num_submissions'], ',') }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="stat-label">
                                target submissions
                            </div>
                            <div class="stat-value stat-target-submissions">
                                NA
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="stat-label">
                                percent complete
                            </div>
                            <div class="stat-value stat-percent-complete">
                                NA
                            </div>
                        </div>
                    </div>
                    <div class="row row-stat">
                        <div class="col-md-12">
                            <div class="stat-label">
                                <span class="glyphicon glyphicon-phone"></span> mobile survey link
                            </div>
                            <div class="">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="shareable-link" aria-describedby="shareable-link" value="http://dokomoforms.org/survey/{{ survey.survey_id }}">
                                    <div class="input-group-addon"><a target="_blank" href="/survey/{{ survey.survey_id }}"><span class="glyphicon glyphicon-new-window"></span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-stat">
                        <!-- <div class="col-md-4"></div> -->
                        <div class="col-md-12">
                            <div class="pull-left">
                                
                            </div>
                            
                            <div class="pull-right">
                                <a href="/view/data/{{ survey.survey_id }}" class="btn btn-sm btn-secondary"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp; View Data</a>
                            <!-- </div>
                            <div class="col-md-4"> -->
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <span class="glyphicon glyphicon-cloud-download"></span>&nbsp;&nbsp; Download Data <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <!-- <li><a href="#">CSV (.csv)</a></li>
                                        <li><a href="#">KML (.kml)</a></li> -->
                                        <li><a target="_blank" href="/api/surveys/{{ survey.survey_id }}/submissions">JSON (.json)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Activity Graph -->
                <h4>Activity Graph</h4>
                <div class="activity-graph">
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Submissions</h4>
                <table id="submissions" class="display table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Conducted By</th>
                            <th>Conducted On</th>
                            <th>Submitted On</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        
    </div>
</div>
{% end %}


{% block extra_scripts %}

<!-- Templates -->
<script type="text/template" id="view-submission-btn-tpl">
    <a class="btn btn-default btn-xs" href="/view/submission/<%= submission_id %>"><span class="glyphicon glyphicon-list-alt"></span> View Submission Details</a>
</script>

<script type="text/javascript">
    
    $(function () {
        $.getJSON('/api/submissions/activity/{{ survey.survey_id }}/', function(data) {

            var results = data.result,
                cats = [], 
                data = [];

            if (!results.length) {
                return;
            }

            _.each(results, function(result) {
                var date = moment(result[1], "YYYY-MM-DD").format('MMM D');

                console.log(date);

                data.push(result[0]);
                cats.push(date);
            });


            $('.activity-graph').highcharts({
                chart: {
                    type: 'line'
                },
                title: {
                    text: null
                },
                colors: [
                    '#666'
                ],
                xAxis: {
                    categories: cats
                },
                yAxis: {
                    title: {
                        text: '# of submissions'
                    }
                },
                series: [{
                    name: 'Submissions',
                    data: data
                }],
                credits: {
                    enabled: false
                }
            });
        });

    
        var view_sub_btn_tpl = _.template($("#view-submission-btn-tpl").html());

        $('#submissions').dataTable( {
            language: {
                search: "Search by submitter name:"
            },
            "lengthMenu": [[20, 50, 100], [20, 50, 100]],
            "pagingType": "full_numbers",
            "order": [[2, 'desc']],
            "columnDefs": [
                {
                    data: 1,
                    targets: 0    
                },
                {
                    "data": 3,
                    "render": function (data, type, row) {
                        var datetime = moment(data);
                        return datetime.format('MMM D, YYYY [at] HH:mm:ss');
                    },
                    "targets": 1
                },
                {
                    "data": 2,
                    "render": function (data, type, row) {
                        var datetime = moment(data);
                        return datetime.format('MMM D, YYYY [at] HH:mm:ss');
                    },
                    "targets": 2
                },
                {
                    data: 0,
                    "render": function (data, type, row) {
                        return view_sub_btn_tpl({submission_id: data});
                    },
                    "targets": 3
                }
            ],
            "columns": [
                {"name": "submitter"},
                {"name": "saved_time"},
                {"name": "submission_time"},
                {"name": "submission_id"}
            ],
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/api/submission_data_table/{{ survey.survey_id }}",
                "data": function(d) {
                    return {"args": JSON.stringify(d)};
                }
            }
        } );
    } );
</script>
{% end %}
