// the (inline) means copy but don't process this import as less, which is correct here.
@import (inline) "../../../../../node_modules/leaflet/dist/leaflet.css";
@import "./bootstrap.less";
@import "./dataTables.bootstrap.less";

// start here

body {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #eff2f5;
    color: #000000;
}

.survey {
	background-color: #fcfcfc;
	-moz-box-shadow: 0 0 30px 5px #b1bccd;
    -webkit-box-shadow: 0 0 30px 5px #b1bccd;
	padding: 0px;
	float: none;
}

.header {
	color: white;
	padding: 12px 12px 12px 80px;
	font-size: 35px;
}

.survey-header {
	background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.9);
}

.survey-label {
	margin-bottom: 5px;
	margin-left: 5%;
	font-size: 23px;
}

.survey-title-text {
	background-color: #fcfcfc;
	width: 85%;
	padding-top: 10px;
}

.survey-title {
	padding: 15px 20px 0px 25px;
}

.survey-group {
	margin: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

textarea.form-control {
	font-size: 20px;
	margin: auto;
	float: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	border: white;
}

textarea.form-control:focus, input:focus {
    outline: none;
    -moz-box-shadow: 0 0 5px 5px #e0e4eb;
    -webkit-box-shadow: 0 0 5px 5px #e0e4eb;
}

.node-list {
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.9);
    padding: 2px;
    width: 100%;
}

.node {
	background-color: #fcfcfc;
	margin: 0px 5px 15px 5px;
	color: black;
	padding: 3px 10px 10px 10px;
}

.title-group {
	height: 280px;
	border-bottom: 1px solid gray;
	padding: 10px
}

.language-header {
	color: #4d4dff;
	font-size: 18px;
}

.language-text {
	padding-bottom: 10px;
}

.title {
	height: 50%;
	font-size: 20px;
	margin: 5px 10px 5px 10px;
}

.type-constraint {
}