[Unit]
Description=DokomoForms
After=syslog.target

[Service]
User=dokomo
Group=dokomo
WorkingDirectory=/home/dokomo/dokomoforms
ExecStart=/usr/bin/python3 webapp.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dokomoforms
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=main

[Install]
WantedBy=multi-user.target

