body {
  padding-top: 50px;
  padding-bottom: 30px;
}
.navbar {
  font-weight: 300;
}
.navbar-main-menu span.glyphicon-menu-down {
  position: relative;
  top: -2px;
  margin-left: 3px;
  font-size: .5em;
}
.header {
  background-color: #78C0A8;
  /*margin-bottom: 40px;*/
}
.header h1 {
  font-weight: 100;
  color: #FFF;
  margin: 0;
  padding: 20px 0px;
}
.header a {
  color: #FFF;
}
.header .header-controls {
  padding-top: 25px;
}
.header-account-overview {
  background-color: #9F4F0F;
}
h4 {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
}
.light-shadow {
  box-shadow: 0px 1px 5px #888888;
}
.subheader {
  background-color: #eeeeee;
  padding-bottom: 30px;
}
.subheader h3 {
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 20px;
}
.content {
  margin-top: 40px;
}
#maptest {
  height: 300px;
}
.recent-block {
  height: 260px;
  overflow-y: scroll;
  /*thead, tbody { 
		display: block; 
		width: 100%;
		tr {
			width: 100%;
		}
	}

	tbody {
		height: 200px;
		overflow-y: scroll;
	}*/
}
.recent-block .submission-row {
  cursor: pointer;
}
.recent-block .submission-row:hover {
  background-color: #eeeeee;
}
.recent-block #recent-map-container {
  width: 100%;
  height: 260px;
}
.recent-map {
  position: relative;
  top: 5px;
}
.activity-graph {
  width: 100%;
  height: 300px;
}
.stat-label {
  font-size: .9em;
  color: #bfbfbf;
}
.stat-value {
  font-weight: bold;
}
.row-stat {
  margin-bottom: 30px;
}
.navbar-nav > li > a.btn {
  margin-top: 15px;
  margin-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}
/* Secondary action button */
.btn-secondary {
  color: #ffffff;
  background-color: #c8600d;
  border-color: #98490a;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
  color: #ffffff;
  background-color: #98490a;
  border-color: #5f2d06;
}
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
  background-image: none;
}
.btn-secondary.disabled,
.btn-secondary[disabled],
fieldset[disabled] .btn-secondary,
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled.focus,
.btn-secondary[disabled].focus,
fieldset[disabled] .btn-secondary.focus,
.btn-secondary.disabled:active,
.btn-secondary[disabled]:active,
fieldset[disabled] .btn-secondary:active,
.btn-secondary.disabled.active,
.btn-secondary[disabled].active,
fieldset[disabled] .btn-secondary.active {
  background-color: #c8600d;
  border-color: #98490a;
}
.btn-secondary .badge {
  color: #c8600d;
  background-color: #ffffff;
}
ul.survey-questions {
  margin: 0;
  padding: 0;
  position: relative;
}
ul.survey-questions li {
  list-style: none;
  border-bottom: solid 1px #bfbfbf;
}
ul.survey-questions .question-title-bar {
  padding: 5px 10px;
  font-size: 1.5em;
}
ul.survey-questions .question-title-bar:hover {
  background-color: #eeeeee;
  cursor: pointer;
}
ul.survey-questions .question-title-bar.open {
  background-color: #f07818;
}
ul.survey-questions .question-title-bar .question-type {
  font-size: .5em;
  text-transform: uppercase;
  color: #bfbfbf;
  position: relative;
  top: 10px;
}
ul.survey-questions .question-stats {
  display: none;
  background-color: #eeeeee;
  position: relative;
  padding: 10px;
}
ul.survey-questions .question-stats .question-stat {
  margin-bottom: 20px;
}
ul.survey-responses {
  margin: 0;
  padding: 0;
  position: relative;
}
ul.survey-responses li {
  list-style: none;
  margin-bottom: 40px;
}
ul.survey-responses .response-title-bar {
  padding: 5px 10px;
  /*font-size: 1em;*/
  color: #bfbfbf;
  border-bottom: solid 1px #bfbfbf;
}
ul.survey-responses .response-title-bar .question-type {
  font-size: .8em;
  text-transform: uppercase;
  color: #bfbfbf;
  margin-left: 40px;
}
ul.survey-responses .response-data {
  padding: 5px 10px;
  font-size: 1.3em;
  font-weight: 700;
}
/* View Survey */
.tab-pane-submissions-list {
  margin-top: 11px;
}
#submissions-map-container {
  height: 400px;
  width: 100%;
}
/* View Data */
.location-map {
  height: 300px;
}
/* Bootstrap Overrides */
.nav-tabs > li a {
  padding: 2px 10px;
  font-size: .9em;
  color: #bfbfbf;
}
.nav-tabs > li.active a {
  color: #555555;
}
