
html {
    background: rgb(242,235,232);
    overflow: auto;
    height: 100%;
}

body {
    position: relative;
    box-sizing: border-box;
    max-width: 600px;
    height: 100%;
    max-height: 600px;
    margin: auto;
    background: white;
    color: rgba(0,0,0,0.7);
    font-size: 18px;
    font-family: 'Droid Sans', 'Helvetica Neue', helvetica, sans-serif;
    padding: 60px 0;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

@media (max-height: 500px) {
    body {
        padding: 20px 0;
    }
}


/* Global styles
=================================================*/
.icon {
    width: 25px;
    height: 25px;
    fill: rgba(0,0,0,0.5);
}

.text_input {
    display: block;
    font-size: 20px;
    width: 80%;
    max-width: 300px;
    padding: 10px 15px;
    margin: 25px auto;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    outline: none;
}
.text_input:focus {
    border-color: rgb(84, 216, 90);
}


/* Layout
=================================================*/
.nav {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(46, 204, 113);
    color: white;
    padding: 15px;
}
.nav__title {
    font-size: 22px;
}
.nav__sync {
    float: right;
    height: 25px;
    width: 25px;
    fill: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.nav__sync--syncing {
    animation: spin 1.5s linear infinite;
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
}


.page_nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(210, 210, 210);
    padding: 10px;
    box-sizing: border-box;
}
.page_nav__center {
    width: 75%;
    max-width: 270px;
    margin: auto;
}
.page_nav__progress {
    color: rgba(0,0,0,0.5);
    font-size: 20px;
    text-align: center;
    padding: 15px 0;
    width: 50%;
    margin: auto;
}
.page_nav__btn {
    width: 25px;
    height: 25px;
    background: rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 100px;
    cursor: pointer;
}
.page_nav__btn:hover,
.page_nav__btn:active {
    background: rgba(0,0,0,0.25);
}
.page_nav__prev {
    float: left;
}
.page_nav__next {
    float: right;
}



/* Survey
==================================================*/
.survey {
    padding: 50px 25px;
    box-sizing: border-box;
}
.question__title {
    text-align: center;
    font-size: 25px;
}
.question__btn {
    display: block;
    padding: 15px 20px;
    background: rgba(0,0,0,0.5);
    border-radius: 7px;
    text-align: center;
    margin: auto;
    width: 120px;
}










