{% extends "base.html" %}
{% block content %}
    <div class="message"></div>
    <div class="content content__index">
        <div class="welcome">
            {% if current_user %}
                <h4 class="welcome_title">Welcome: {{ current_user }}</h4>
                <p class="welcome_blurb"> Your top 10 Surveys: </p>
                <ul class="welcome_ulist">
                    {% for survey in surveys %}
                        <li class="welcome_item">
                            <a href="/view/{{ survey.survey_id }}">{{ survey.survey_title }}</a>
                        </li>
                    {% end %}
                </ul>

                <div class="welcome_buttons">
                    <span>View</span>
                    <span>Create</span>
                    <span id="logout">Logout</span>
                </div>

            {% else %}

                <h4 class="welcome_title"> Welcome to <em>Dokomo</em></h4>
                <p class="welcome_blurb"> Sign up or login to create and view forms </p>
                <div class="welcome_buttons">
                    <span id="login">Login</span>
                </div>

            {% end %}
        </div>
    </div>
    
    <script src="/static/lib.js"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="/static/persona.js"></script>
    <script src="/static/app.js"></script>

    {% if message %}
        <script>
            App.message("{{ message }}");
        </script>
    {% end %}

{% end %}

