{% extends "base.html" %}

{% block content %}
<!-- TODO: For some reason Abdi killed the survey title. 
    Ill kill you Viktor -->
    
    <div class="message"></div>
    
    <div class="content buffer"></div>
    
    <div class="page_nav">
        <div class="page_nav__center">
            <svg class="icon page_nav__btn page_nav__prev">
                <use xlink:href="#icon-chevron-left"></use>
            </svg>
            <svg class="icon page_nav__btn page_nav__next">
                <use xlink:href="#icon-chevron-right"></use>
            </svg>
            <div class="page_nav__progress">1 / 1</div>
        </div>
    </div>

    <script id="widget_text" type="text/html">
        <div class="question__title"><%- question.question_title %></div>
        <input class="text_input" type="text"
            placeholder="Please provide any response"
            value="<%- question.answer[0] || question.default || '' %>"
        >

        <% if (question.answer.length > 1){ %>
            <% _.each(question.answer.slice(1), function(ans) { %>
                <% if (ans !== null) { %>
                    <input class="text_input" type="text" 
                        placeholder="Please provide another response"
                        value="<%- ans %>"
                    >
                <% } %>
            <% }); %>
        <% } %>

        <svg class="icon question__add" 
            <% if (!question.allow_multiple) { %> 
                style="display:none" 
            <% }%>
        >
            <use xlink:href="#icon-add"></use>
        </svg>
    </script>
    
    <script id="widget_integer" type="text/html">
        <div class="question__title"><%- question.question_title %></div>
        <input class="text_input" type="number"
            placeholder="Please provide a number"
            <% if (question.answer[0] !== null) { %>
                value="<%- question.answer[0] %>"
            <% } else { %>
                value="<%- question.default || '' %>"
            <% } %>
            <% if (question.min != null){ %>
                min="<%- question.min %>"
            <% } %>
            <% if (question.max != null){ %>
                max="<%- question.max %>"
            <% } %>
        >
        
        <% if (question.answer.length > 1){ %>
            <% _.each(question.answer.slice(1), function(ans) { %>
                <% if (ans !== null) { %>
                    <input class="text_input" type="number"
                        placeholder="Please provide another number"
                        value="<%- ans %>"
                        <% if (question.min != null){ %>
                            min="<%- question.min %>"
                        <% } %>
                        <% if (question.max != null){ %>
                            max="<%- question.max %>"
                        <% } %>
                    >
                <% } %>
            <% }); %>
        <% } %>
        
        <svg class="icon question__add" 
            <% if (!question.allow_multiple) { %> 
                style="display:none" 
            <% }%>
        >
            <use xlink:href="#icon-add"></use>
        </svg>
    </script>
    
    <script id="widget_decimal" type="text/html">
        <div class="question__title"><%- question.question_title %></div>
        <input class="text_input" type="number" step="any"
                placeholder="Please provide a number (decimal OK)"
            <% if (question.answer[0] !== null){ %>
                value="<%- question.answer[0] %>"
            <% } else { %>
                value="<%- question.default || '' %>"
            <% } %> 
        >

        <% if (question.answer.length > 1){ %>
            <% _.each(question.answer.slice(1), function(ans) { %>
                <% if (ans !== null) { %>
                    <input class="text_input" type="number" step="any"
                        placeholder="Please provide another number (decimal OK)"
                        value="<%- ans %>"
                    >
                <% } %>
            <% }); %>
        <% } %>
        
        <svg class="icon question__add" 
            <% if (!question.allow_multiple) { %> 
                style="display:none" 
            <% }%>
        >
            <use xlink:href="#icon-add"></use>
        </svg>
    </script>

    <script id="widget_date" type="text/html">
        <div class="question__title"><%- question.question_title %></div>
        <input class="text_input" type="date" 
               placeholder="Please provide a date"
               value="<%- question.answer[0] || question.default || '' %>"
        >
        <% if (question.answer.length > 1){ %>
            <% _.each(question.answer.slice(1), function(ans) { %>
                <% if (ans !== null) { %>
                    <input class="text_input" type="date" 
                           placeholder="Please provide another date"
                           value="<%- ans %>"
                    >
                <% } %>
            <% }); %>
        <% } %>

        <svg class="icon question__add" 
            <% if (!question.allow_multiple) { %> 
                style="display:none" 
            <% }%>
        >
            <use xlink:href="#icon-add"></use>
        </svg>
    </script>

    <script id="widget_time" type="text/html">
        <div class="question__title"><%- question.question_title %></div>
        <input class="text_input" type="time" 
               placeholder="Please provide a time"
               value="<%- question.answer[0] || question.default || '' %>"
        >
        <% if (question.answer.length > 1){ %>
            <% _.each(question.answer.slice(1), function(ans) { %>
                <% if (ans !== null) { %>
                    <input class="text_input" type="time" 
                        placeholder="Please provide another time"
                        value="<%- ans %>"
                    >
                <% } %>
            <% }); %>
        <% } %>
        
        <svg class="icon question__add" 
            <% if (!question.allow_multiple) { %> 
                style="display:none" 
            <% }%>
        >
            <use xlink:href="#icon-add"></use>
        </svg>
    </script>

    <script id="widget_location" type="text/html">
        <div class="question__title"><%- question.question_title %></div>
        <div id="map" class="question__map"></div>
        <div class="question__location">
            <input class="text_input question__lat" type="text" 
            value="<%- question.answer[0] && question.answer[0][1] || start_loc[0] %>">
            <input class="text_input question__lon" type="text" 
            value="<%- question.answer[0] && question.answer[0][0] || start_loc[1] %>">
        </div>

        <% _.each(question.answer.slice(1), function(ans) { %>
            <div class="question__location">
                <input class="text_input question__lat" type="text" 
                       value="<%- ans[1] %>">
                <input class="text_input question__lon" type="text" 
                       value="<%- ans[0] %>">
            </div>
        <% }); %>
        
        <div class="question__btn">Find location</div>
    </script>

    <script id="widget_facility" type="text/html">
        <div class="question__title"><%- question.question_title %></div>
        <div id="map" class="question__map"></div>
        <div>

            <span class="question__btn find__btn">Find Me</span>
            <span class="question__btn facility__btn">Add New Site</span>

            <input class="text_input facility__name" type="text"/>
            <select class="question__select facility__type">
                <option value="other">Other</option>
                <option value="water">Water</option>
                <option value="health">Health</option>
                <option value="education">Education</option>
                <!-- <option value="power">Power</option> -->
            </select>
        </div>

    </script>

    <script id="widget_multiple_choice" type="text/html">
        <div class="question__title"><%- question.question_title %></div>
        <select class="question__select" <%  if (question.allow_multiple) { %> 
            multiple size=<%- question.choices.length + 1 + 1*question.logic['with_other']%> 
        <% } %>>
            <option value="null">Please choose an option</option>
            <% _.each(question.choices, function(choice, ind) { %>
                <option 
                    <% if (choice.question_choice_id === question.answer[ind])  { %>
                        selected
                    <% } %>
                    value="<%- choice.question_choice_id %>"><%- choice.choice %></option>
            <% }); %>
            <% if (question.logic['with_other']) { %>
                <option id="with_other" 
                    <% var val = question.answer[question.choices.length];
                    if (val || val === '')  { %>
                        selected
                    <% } %>
                value="other"><%- question.logic['other_text'] || 'Other' %></option>
            <% } %>
        </select>

        <input class="text_input" type="text"
                value="<%- question.answer[question.choices.length] || '' %>"
        >
    </script>
    
    <script id="widget_note" type="text/html">
        <div class="question__title"><%- question.question_title %></div>
    </script>

    <script id="template_submit" type="text/html">
        <div class="question__title">
            That's it, you're finished!
        </div>
        <svg class="icon question__saving">
            <use xlink:href="#icon-save-disk"></use>
        </svg>
        <div class="question__name">
            <input class="name_input" type="text"
                placeholder="Please provide your name"
                value="<%- name || '' %>">
        </div>
        <div class="question__btn">Submit</div>
    </script>

    <script src="/static/lib.js"></script>
    <script src="/static/app.js"></script>
    <script>
        App.init({% raw survey %});
    </script>
{% end %}

