{% extends "base.html" %}

{% block content %}
    <div class="nav">
        <div class="nav__title">{{ title }}</div>
        <div class="icon nav__sync sel_logo"><img src="/static/img/SEL_logo_sm.png"></div>
    </div>
    
    <div class="message"></div>
    
    <div class="content"></div>
    
    <div class="page_nav">
        <div class="page_nav__center">
            <svg class="icon page_nav__btn page_nav__prev">
                <use xlink:href="#icon-chevron-left"></use>
            </svg>
            <svg class="icon page_nav__btn page_nav__next">
                <use xlink:href="#icon-chevron-right"></use>
            </svg>
            <div class="page_nav__progress">1 / 5</div>
        </div>
    </div>

    <script id="widget_text" type="text/html">
        <div class="question__title"><%- question.title %></div>
        <input class="text_input" type="text"
            value="<%- question.answer[0] || question.default || '' %>">

        <% if (question.answer.length > 1){ %>
            <% _.each(question.answer.slice(1), function(ans) { %>
                <input class="text_input" type="text"
                    value="<%- ans %>">
            <% }); %>
        <% } %>
    </script>
    
    <script id="widget_integer" type="text/html">
        <div class="question__title"><%- question.title %></div>
        <input class="text_input" type="number"
            value="<%- question.answer[0] || question.default || '' %>"
            <% if (question.min != null){ %>
                min="<%- question.min %>"
            <% } %>
            <% if (question.max != null){ %>
                max="<%- question.max %>"
            <% } %>
        >
        <% if (question.answer.length > 1){ %>
            <% _.each(question.answer.slice(1), function(ans) { %>
                <input class="text_input" type="number"
                    value="<%- ans %>"
                    <% if (question.min != null){ %>
                        min="<%- question.min %>"
                    <% } %>
                    <% if (question.max != null){ %>
                        max="<%- question.max %>"
                    <% } %>
                >
            <% }); %>
        <% } %>
    </script>
    
    <script id="widget_location" type="text/html">
        <div class="question__title"><%- question.title %></div>
        <div id="map" class="question__map"></div>

        <div class="loc_input">
            <input class="text_input question__lat" type="text" value="<%- (question.answer[0] && question.answer[0][1]) || '' %>">
            <input class="text_input question__lon" type="text" value="<%- (question.answer[0] && question.answer[0][0]) || '' %>">
        </div>

        <% if (question.answer.length > 1){ %>
            <% _.each(question.answer.slice(1), function(ans) { %>
                <div class="loc_input">
                    <input class="text_input question__lat" type="text" value="<%- ans[1] %>">
                    <input class="text_input question__lon" type="text" value="<%- ans[0] %>">
                </div>
            <% }); %>
        <% } %>
        
        <div class="question__btn">Find location</div>
    </script>

    <script id="widget_multiple_choice" type="text/html">
        <div class="question__title"><%- question.title %></div>
        <select>
            <option value="null">Please choose an option</option>
            <% _.each(question.choices, function(choice) { %>
                <option 
                    <% if (choice.question_choice_id === question.answer[0])  { %>
                        selected
                    <% } %>
                    value="<%- choice.question_choice_id %>"><%- choice.choice %></option>
            <% }); %>
            <% if (question.logic['with_other']) { %>
                <option id="with_other" value="other">Other</option>
            <% } %>
        </select>

        <input class="text_input" type="text"
            <% if (question.is_other) { %>
                value="<%- question.answer[0] || question.default || '' %>"
            <% } %>
        >
    </script>

    <script id="widget_decimal" type="text/html">
        <div class="question__title"><%- question.title %></div>
        <input class="text_input" type="number" step="any"
            value="<%- question.answer[0] || question.default || '' %>">

        <% if (question.answer.length > 1){ %>
            <% _.each(question.answer.slice(1), function(ans) { %>
                <input class="text_input" type="number" step="any"
                    value="<%- ans %>">
            <% }); %>
        <% } %>
    </script>

    <script id="widget_date" type="text/html">
        <div class="question__title"><%- question.title %></div>
        <input class="text_input" type="date" value="<%- question.answer[0] || question.default || '' %>">
        <% if (question.answer.length > 1){ %>
            <% _.each(question.answer.slice(1), function(ans) { %>
                <input class="text_input" type="date" value="<%- ans %>">
            <% }); %>
        <% } %>
    </script>

    <script id="widget_time" type="text/html">
        <div class="question__title"><%- question.title %></div>
        <input class="text_input" type="time" value="<%- question.answer[0] || question.default || '' %>">
        <% if (question.answer.length > 1){ %>
            <% _.each(question.answer.slice(1), function(ans) { %>
                <input class="text_input" type="time" value="<%- ans %>">
            <% }); %>
        <% } %>
    </script>

    <script id="widget_note" type="text/html">
        <div class="question__title"><%- question.title %></div>
    </script>

    <script id="template_submit" type="text/html">
        <div class="question__title">
            That's it, you're finished!
        </div>
        <svg class="icon question__saving">
            <use xlink:href="#icon-save-disk"></use>
        </svg>
        <div class="question__btn">Submit</div>
    </script>

    <script src="/static/lib.js"></script>
    <script src="/static/app.js"></script>
    <script>
        App.init({% raw survey %});
    </script>
{% end %}

