{% extends "base.html" %}


{% block content %}
    <div class="message"></div>

    <div class="content">
        <div class="welcome">
            <h4 class="welcome_title">Welcome {{ current_user }}</h4>
            <p class="welcome_blurb"> Your surveys: </p>
            <ul class="welcome_ulist">
                {% for survey, num_submissions in surveys %}
                    <li class="welcome_item">
                        <a href="/view/{{ survey.survey_id }}">{{ survey.title }}</a>
                        <!- THIS IS BAD AND LOOKS BAD -- SORRY -- VIKTOR ->
                        Number of submissions: {{ num_submissions }}
                    </li>
                {% end %}
            </ul>
            </div>
            <div class="login">
                <a href="#" class="dokomo-button persona-button" id="logout"><span>Logout</span></a>
            </div>
        </div>
    </div>

    <div class="page_nav">
        <div class="sel_text_logo">
        <span>
            Dokomo Forms. Forms <em>Everywhere</em>
        </span>
        </div>
    </div>

    <script src="https://login.persona.org/include.js"></script>
    <script src="/static/persona.js"></script>
    <script src="/static/app.js"></script>
    {% if message %}
        <script>
            App.message("{{ message }}");
        </script>
    {% end %}
{% end %}
