{% extends "base.html" %}
{% block content %}
    <div class="content">
        <div>
            <h4>Welcome {{ current_user }}</h4>
            <p> Submission {{ submission['submission_id'] }} by {{ submission['submitter'] }} at {{ submission['submission_time'] }} to survey {{ survey.survey_title }}: </p>
            <ul>
                {% for answer in submission['answers'] %}
                    <li>
                        <strong>{{ answer['sequence_number'] }}. {{ answer['question_title'] }}</strong><br/>
                        Type: {{ answer['type_constraint_name'] }}<br/>
                        {% if answer['choice'] %}
                            Choice: {{ answer['choice_number'] }}. {{ answer['choice'] }}<br/>
                        {% else %}
                            Answer: {{ answer['answer'] }}<br/>
                        {% end %}
                    </li>
                {% end %}
            </ul>
        </div>
        <a href="#" id="logout">Logout</a>
    </div>


    <script src="/static/lib.js"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="/static/persona.js"></script>
{% end %}
