{% extends "base.html" %}


{% block content %}
    <div class="message"></div>

    <div class="content">
        <div>
            <h4>Welcome {{ current_user }}</h4>
            <a href="/survey/{{ survey.survey_id }}">Shareable link!!!</a>
            <p>Questions with submission statistics:</p>
            <ul>
                {% for stats in question_stats['result'] %}
                    <li>
                        <p>{{ stats['question'].sequence_number }}. {{ stats['question'].question_title }} - {{ stats['question'].question_id }}</p>
                        {% for stat in stats['stats'] %}
                            <p>{{ stat['query'] }}: {{ stat['result'] }}</p>
                        {% end %}
                    </li>
                {% end %}
            </ul>
            <p>Submissions to {{ survey.survey_title }}: </p>
            <ul>
                {% for submission in submissions %}
                    <li>
                        <a href="/view/submission/{{ submission.submission_id }}">{{ submission.submitter }} - {{ submission.submission_time }}</a>
                    </li>
                {% end %}
            </ul>
        </div>
        <div class="login">
            <a href="#" class="dokomo-button persona-button" id="logout"><span>Logout</span></a>
        </div>
    </div>

    <div class="page_nav">
        <div class="sel_text_logo">
        <span>
            Dokomo Forms. Forms <em>Everywhere</em>
        </span>
        </div>
    </div>

    <script src="https://login.persona.org/include.js"></script>
    <script src="/static/persona.js"></script>
    <script src="/static/app.js"></script>
    {% if message %}
        <script>
            App.message("{{ message }}");
        </script>
    {% end %}
{% end %}
