{% extends "base.html" %}


{% block content %}
    <div class="message"></div>

    <div class="content">
        <h4>Welcome {{ current_user }}</h4>
        {% if question.type_constraint_name in {'integer', 'decimal'} %}
            <p> Value over time: </p>
            <img class="graph" src="/images/{{ question.question_id }}_time.png" />
        {% end %}
        {% if question.type_constraint_name in {'text', 'integer', 'decimal', 'date', 'time', 'location', 'multiple_choice'} %}
        <p> Bar graph: </p>
        {% end %}
        <img class="graph" src="/images/{{ question.question_id }}_bar.png" />
    </div>
    <div class="login">
        <a href="#" class="dokomo-button persona-button" id="logout"><span>Logout</span></a>
    </div>

    <div class="page_nav">
        <div class="sel_text_logo">
        <span>
            Dokomo Forms. Forms <em>Everywhere</em>
        </span>
        </div>
    </div>

    <script src="https://login.persona.org/include.js"></script>
    <script src="/static/persona.js"></script>
    <script src="/static/app.js"></script>
{% end %}
