{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div>
            <h4>Welcome {{ current_user }}</h4>
            <p> Your surveys: </p>
            <ul>
                {% for survey, num_submissions in surveys %}
                    <li>
                        <a href="/view/{{ survey.survey_id }}">{{ survey.survey_title }}</a>
                        <!- THIS IS BAD AND LOOKS BAD -- SORRY -- VIKTOR ->
                        Number of submissions: {{ num_submissions }}
                        ---
                        <a href="/survey/{{ survey.survey_id }}">Shareable link!!!</a>
                    </li>
                {% end %}
            </ul>
            </div>
            <div class="login">
                <a href="#" class="dokomo-button persona-button" id="logout"><span>Logout</span></a>
            </div>
        </div>
    </div>

    <script src="/static/lib.js"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="/static/persona.js"></script>
{% end %}
