{% extends "base.html" %}
{% block content %}
    <div class="content">
        <div>
            <h4>Welcome {{ current_user }}</h4>
            <a href="/survey/{{ survey.survey_id }}">Shareable link!!!</a>
            <p>Questions with submission statistics:</p>
            <ul>
                {% for stats in question_stats['result'] %}
                    <li>
                        <!--<p>{{ stats['question'].sequence_number }}. {{ stats['question'].question_title }} - {{ stats['question'].question_id }}</p>-->
                        <p><a href="/visualize/{{ stats['question'].question_id }}">{{ stats['question'].sequence_number }}. {{ stats['question'].question_title }}</a></p>
                        {% for stat in stats['stats'] %}
                            <p>{{ stat['query'] }}: {{ stat['result'] }}</p>
                        {% end %}
                    </li>
                {% end %}
            </ul>
            <p>Submissions to {{ survey.survey_title }}: </p>
            <ul>
                {% for submission in submissions %}
                    <li>
                        <a href="/view/submission/{{ submission.submission_id }}">{{ submission.submitter }} - {{ submission.submission_time }}</a>
                    </li>
                {% end %}
            </ul>
        </div>
        <a class="btn" href="#" id="logout">Logout</a>
    </div>

    <script src="/static/lib.js"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="/static/persona.js"></script>
{% end %}
