{% extends "base.html" %}


{% block content %}
    <div class="message"></div>

    <div class="content">
        <div>
            <h4>Welcome {{ current_user }}</h4>
            <p> Submissions to {{ survey.title }}: </p>
            <ul>
                {% for submission in submissions %}
                    <li>
                        <a href="/view/submission/{{ submission.submission_id }}">{{ submission.submitter }} - {{ submission.submission_time }}</a>
                    </li>
                {% end %}
            </ul>
            </div>
            <div class="login">
                <a href="#" class="dokomo-button persona-button" id="logout"><span>Logout</span></a>
            </div>
        </div>
    </div>

    <div class="page_nav">
        <div class="sel_text_logo">
        <span>
            Dokomo Forms. Forms <em>Everywhere</em>
        </span>
        </div>
    </div>

    <script src="https://login.persona.org/include.js"></script>
    <script src="/static/persona.js"></script>
    <script src="/static/app.js"></script>
    {% if message %}
        <script>
            App.message("{{ message }}");
        </script>
    {% end %}
{% end %}
