<html>
    <head>
        <style>
            <link href="lib/leaflet.css" rel="stylesheet" type="text/css">
        </style>
    </head>
    <body>
        <div href="#" id="login"></div>
        <div class="message"></div>
        <div class="content"></div>
        <div class="nav__sync"></div>
        <div class="question__saving"></div>

        <div class='page_nav__next'></div>
        <div class='page_nav__prev'></div>

    <script id="widget_text" type="text/html">
        <div class="question__title"><%- question.question_title %></div>
        <div class="question__hint"><%- question.hint || "" %></div>
        <%  var no_response = true;
            _.each(question.answer, function(ans) {
            if (ans && ans.response !== null && !ans.is_other) { 
                no_response = false; %>
                <input class="text_input" type="text" 
                    placeholder="Please provide another response"
                    value="<%- ans.response %>"
                >
            <% } %>
        <% }); %>

        <% if (no_response) { %>
            <input class="text_input" type="text"
                placeholder="Please provide any response"
                value="<%- question.default || '' %>"
            >
        <% } %>
    </script>
    
    <script id="widget_integer" type="text/html">
        <div class="question__title"><%- question.question_title %></div>
        <div class="question__hint"><%- question.hint || "" %></div>

        <%  var no_response = true;
            _.each(question.answer, function(ans) {
            if (ans && ans.response !== null && !ans.is_other) { 
                no_response = false; %>
                <input class="text_input" type="number"
                    placeholder="Please provide another number"
                    value="<%- ans.response %>"
                    <% if (question.min != null){ %>
                        min="<%- question.min %>"
                    <% } %>
                    <% if (question.max != null){ %>
                        max="<%- question.max %>"
                    <% } %>
                >
            <% } %>
        <% }); %>

        <% if (no_response) { %>
            <input class="text_input" type="number"
                placeholder="Please provide a number"
                value="<%- question.default || '' %>"
                <% if (question.min != null){ %>
                    min="<%- question.min %>"
                <% } %>
                <% if (question.max != null){ %>
                    max="<%- question.max %>"
                <% } %>
            >
        <% } %>
    </script>
    
    <script id="widget_decimal" type="text/html">
        <div class="question__title"><%- question.question_title %></div>
        <div class="question__hint"><%- question.hint || "" %></div>

        <%  var no_response = true;
            _.each(question.answer, function(ans) {
            if (ans && ans.response !== null) { 
                no_response = false; %>
                <input class="text_input" type="number" step="any"
                    placeholder="Please provide another number (decimal OK)"
                    value="<%- ans.response %>"
                >
            <% } %>
        <% }); %>

        <% if (no_response) { %>
            <input class="text_input" type="number" step="any"
                    placeholder="Please provide a number (decimal OK)"
                    value="<%- question.default || '' %>"
            >
        <% } %>
    </script>

    <script id="widget_date" type="text/html">
        <div class="question__title"><%- question.question_title %></div>
        <div class="question__hint"><%- question.hint || "" %></div>

        <%  var no_response = true;
            _.each(question.answer, function(ans) {
            if (ans && ans.response !== null && !ans.is_other) { 
                no_response = false; %>
                <input class="text_input" type="date" 
                       placeholder="Please provide another date"
                       value="<%- ans.response %>"
                >
            <% } %>
        <% }); %>

        <% if (no_response) { %>
            <input class="text_input" type="date" 
                   placeholder="Please provide a date"
                   value="<%- question.default || '' %>"
            >
        <% } %>
    </script>

    <script id="widget_time" type="text/html">
        <div class="question__title"><%- question.question_title %></div>
        <div class="question__hint"><%- question.hint || "" %></div>

        <%  var no_response = true;
            _.each(question.answer, function(ans) {
            if (ans && ans.response !== null && !ans.is_other) { 
                no_response = false; %>
                <input class="text_input" type="time" 
                    placeholder="Please provide another time"
                    value="<%- ans.response %>"
                >
            <% } %>
        <% }); %>

        <% if (no_response) { %>
            <input class="text_input" type="time" 
                   placeholder="Please provide a time"
                   value="<%- question.default || '' %>"
            >
        <% } %>
    </script>

    <script id="widget_location" type="text/html">
        <div class="question__title"><%- question.question_title %></div>
        <div class="question__hint"><%- question.hint || "" %></div>
        <div id="map" class="question__map"></div>

        <%  var no_response = true;
            _.each(question.answer, function(ans) {
            if (ans && ans.response !== null && !ans.is_other) { 
                no_response = false; %>
                <div class="question__location">
                    <input class="text_input question__lat" type="text" 
                           value="<%- ans.response.lat %>">
                    <input class="text_input question__lon" type="text" 
                           value="<%- ans.response.lon %>">
                </div>
            <% } %>
        <% }); %>

        <% if (no_response) { %>
            <div class="question__location">
                <input class="text_input question__lat" type="text" 
                value="<%- start_loc.lat %>">
                <input class="text_input question__lon" type="text" 
                value="<%- start_loc.lon %>">
            </div>
        <% } %>

        <div class="question__btn question__find__btn">Find location</div>
    </script>

    <script id="widget_facility" type="text/html">
        <div class="question__title"><%- question.question_title %></div>
        <div class="question__hint"><%- question.hint || "" %></div>
        <div id="map" class="question__map"></div>
        <div>

            <span class="question__btn question__find__btn">Find Me</span>
            <span class="question__btn facility__btn">Add New Site</span>

            <input class="text_input facility__name" type="text"/>
            <select class="question__select facility__type">
                <option value="other">Other</option>
                <option value="water">Water</option>
                <option value="health">Health</option>
                <option value="education">Education</option>
            </select>
        </div>

    </script>

    <script id="widget_multiple_choice" type="text/html">
        <div class="question__title"><%- question.question_title %></div>
        <div class="question__hint"><%- question.hint || "" %></div>

        <select class="question__select" 
            <%  if (question.allow_multiple) { %> 
                multiple 
                size=<%- question.choices.length + 1 + 1*question.logic.with_other %> 
            <% } %>
        >

            <option value="null">Please choose an option</option>
            <% _.each(question.choices, function(choice, ind) { %>
                <option 
                    <% if (question.answer[ind] &&
                    choice.question_choice_id === question.answer[ind].response) { %>
                        selected
                    <% } %>
                    value="<%- choice.question_choice_id %>"><%- choice.choice %>
                </option>
            <% }); %>

            <% if (question.logic.with_other) { %>
                <option 
                    <% var ans = question.answer[question.choices.length];
                    if (ans && (ans.response))  { %>
                        selected
                    <% } %>
                value="other">
                    <%- question.logic.other_text || 'Other' %>
                </option>
            <% } %>
        </select>

        <input class="text_input other_input" type="text"
                value="<%- question.answer[question.choices.length] && question.answer[question.choices.length].response %>"
        >
    </script>
    
    <script id="widget_note" type="text/html">
        <div class="question__title"><%- question.question_title %></div>
        <div class="question__hint"><%- question.hint || "" %></div>
    </script>

    <script id="template_repeat" type="text/html">
        <div class="question__repeat">
            <svg class="icon question__add">
                <use xlink:href="#icon-add"></use>
            </svg>

            <svg class="icon question__minus" >
                <use xlink:href="#icon-minus"></use>
            </svg>
        </div>
    </script>

    <script id="template_other" type="text/html">
        <div class="question__btn question__btn__other"><%- question.logic.other_text || "Don't Know" %></div>
        <div class="question__other"
            <% var ans = question.answer && question.answer[0];
               var is_other = ans && ans.is_other;
            %>
                style="display: none;"
        >
            <div class="question__hint">Please provide a reason.</div>
                <input class="text_input other_input" type="text" 
                    placeholder="Response is required."
                    <% if (is_other) { %>
                        value="<%- ans.response %>"
                    <% } %>
                >
        </div>
    </script>

    <script id="template_submit" type="text/html">
        <div class="question__title">
            That's it, you're finished!
        </div>
        <svg class="icon question__saving">
            <use xlink:href="#icon-save-disk"></use.response>
        </svg>
        <div class="question__name">
            <input class="name_input" type="text"
                placeholder="Please provide your name"
                value="<%- name || '' %>">
        </div>
        <div class="question__btn">Submit</div>
    </script>

    </body>
</html>

